extends _sites.tpl.pug

block append vars
  - var page = site.find('about.html')
  - var prev_blurb = 'default text for previous conference'
  - var next_blurb = 'default text for next conference'
  -
    var prev_content = Util.VIEW.highlightButtons([
      new Element('a').attr('href',site.prevConference().url).attr('itemprop','url').addContent(`Event Details`)
    ], 'c-Button--ghost c-Button--ghost--dark')
    var next_content = Util.VIEW.highlightButtons([
      new Element('a').attr('href',site.nextConference().url).attr('itemprop','url').addContent(`Event Details`)
    ], 'c-Button--ghost c-Button--ghost--dark')

block mainReference
  != site.prevConference().view(Conference.Display.OTHER_YEAR, { year : 'prev', blurb: prev_blurb, block: prev_content })
  != site.prevConference().view(Conference.Display.OTHER_YEAR, { year : 'next', blurb: next_blurb, block: next_content })
