extends _sites.tpl.pug

block append vars
  - var page = site.find('about.html')
  - var prev_blurb = 'default text for previous conference'
  - var next_blurb = 'default text for next conference'
  -
    let highlight_buttons_prev = [
      new Element('a').attr('href',site.prevConference().url).attr('itemprop','url').addContent(`Event Details`)
    ]
    let highlight_buttons_next = [
      new Element('a').attr('href',site.nextConference().url).attr('itemprop','url').addContent(`Event Details`)
    ]

block mainReference
  include ../../_views/_Conference.view.pug
  +otherYear(site.prevConference(), prev_blurb).c-Banner--prev
    != Util.VIEW.highlightButtons(highlight_buttons_prev, 'c-Button--ghost c-Button--ghost--dark')
  +otherYear(site.nextConference(), next_blurb).c-Banner--next
    != Util.VIEW.highlightButtons(highlight_buttons_next, 'c-Button--ghost c-Button--ghost--dark')
