extends _sites.tpl.pug

block append vars
  - var page = site.find('contact.html')

block mainReference
  -
    let drew = new Person({
      "@type": "Person",
      "identifier": "drew-caracciolo-1",
        "honorificPrefix": "Dr.",
        "givenName"      : "Drew",
        "additionalName" : "P.",
        "familyName"     : "Caracciolo",
        "honorificSuffix": "Ph.D., M.ASCE",
      "image"      : "files/headshot1.jpg",
      "url"        : "#0",
      "email"      : "example@asce.org",
      "telephone"  : "(703)293-5555",
      "jobTitle"   : "Senior Coordinator, Conferences & Meetings",
      "affiliation": "HDR Engineering, Inc."
    })
  figure.docs-figure
    ul: li(itemscope="" itemtype="http://schema.org/Person")!= drew.view_contact()
  section.o-Runner.o-Runner--highlight#contact-us: div.h-Constrain
    h1.h-Hidden Contact Us
    form
      label
        | name
        input(type="text")
      label
        | email
        input(type="email")
      label
        | message
        textarea
      button submit
