extends _sites.tpl.pug

block append vars
  - var page = site.find('index.html')
  - var hero_content = 'default action buttons'

block mainHeader
  != site.currentConference().view(Conference.Display.HERO, hero_content)
