extends _sites.tpl.pug

block append vars
  - var page = site.find('location.html')

block mainHeader
  header.o-Runner.o-Runner--pageHeader.c-Banner(style=`--banner-img: url('${site.currentConference.promoLocImage}');`): div.h-Constrain
    h1.c-PageTitle= page.name()

block mainReference
  section.o-Runner.o-Runner--highlight.-ta-c#important-locations: div.h-Constrain
    h1.h-Hidden Important Locations
    ul.o-List.o-Flex.o-Flex--even.c-Alert
      each $venue in site.currentConference.getVenuesAll()
        li.o-List__Item.o-Flex__Item.c-Alert__Item: section(itemprop="location" itemscope="" itemtype="http://schema.org/Accommodation")
          img(alt="" src="" itemprop="image")
          h1.-fz-el-mega(itemprop="description")= $venue.description
          p!= Util.view([$venue]).venue()
