extends _sites.tpl.pug

block append vars
  - var page = site.find('program.html')

block mainReference
  section.o-Runner.o-Runner--highlight.c-Banner#full-program: div.h-Constrain
    h1.h-Hidden Full Program
    != site.currentConference.view.program('full-program-block', false)
    p: small.-fs-t Program subject to change.
