extends _sites.tpl.pug

block append vars
  - var page = site.find('registration.html')

block mainHeader
  header.o-Runner.o-Runner--pageHeader: div.o-Constrain
    h1.c-PageTitle Registra&shy;tion

block mainReference
  section.o-Runner.o-Runner--highlight.c-Banner#full-registration: div.o-Constrain
    h1.h-Hidden Full Registration
    != Util.view(site.currentConference().getPassesAll()).pass(site.currentConference())
    != site.currentConference().view.registrationLegend()
    -
      let highlight_buttons = [
        new Element('a').attr('href','#0').addContent(`Register Today!`)
      ]
    != Util.view(highlight_buttons).highlightButtons('c-Button--secondary')
