extends _sites.tpl.pug

block append vars
  - var page = site.find('registration.html')

block mainHeader
  header.o-Runner.o-Runner--pageHeader: div.h-Constrain
    h1.c-PageTitle Registra&shy;tion

block mainReference
  section.o-Runner.o-Runner--highlight.c-Banner#full-registration: div.h-Constrain
    h1.h-Hidden Full Registration
    != site.currentConference.view_pass()
    != Util.view_registrationLegend(site.currentConference.getRegistrationPeriodsAll())
    -
      let highlight_buttons = [
        { "@type": "WebPageElement", "text": "Register Today!", "url": "#0" },
      ]
    != Util.view_highlightButtons(highlight_buttons, 'c-Button--secondary')
