extends _sites.tpl.pug

block append vars
  - var page = site.find('registration.html')

block mainHeader
  header.o-Runner.o-Runner--pageHeader: div.o-Constrain
    h1.c-PageTitle Registra&shy;tion

block mainReference
  section.o-Runner.o-Runner--highlight.c-Banner#full-registration: div.o-Constrain
    h1.h-Hidden Full Registration
    include ../../_views/_Pass.view.pug
    +passList(site.currentConference(), false)
    ul.o-List.o-Flex.o-Flex--even.c-Alert._regLegend
      each $registrationPeriod in site.currentConference().getRegistrationPeriodsAll()
        li.o-List__Item.o-Flex__Item.c-Alert__Item
          i.material-icons(role="none")= $registrationPeriod.getIcon()
          small
            -
              let start_date = ($registrationPeriod.startDate.toISOString() !== new Date().toISOString()) ? $registrationPeriod.startDate : false
              let end_date   = ($registrationPeriod.endDate.toISOString()   !== new Date().toISOString()) ? $registrationPeriod.endDate   : false
              // because the above getters return `new Date()` if none is set
            b= $registrationPeriod.name
            = (start_date && end_date) ? ': ' : (start_date) ? ' begins ' : (end_date) ? ' ends ' : ''
            if start_date
              time(datetime=start_date)= xjs.Date.format(start_date, 'M j')
            if start_date && end_date
              | &ndash;
            if end_date
              time(datetime=end_date)= xjs.Date.format(end_date, 'M j')
    -
      let highlight_buttons = [
        new Element('a').attr('href','#0').addContent(`Register Today!`)
      ]
    != Util.view(highlight_buttons).highlightButtons('c-Button--secondary')
