extends _sites.tpl.pug

block append vars
  - var page = site.find('speakers.html')

block mainReference
  section.o-Runner.o-Runner--highlight.c-Banner#all-speakers: div.h-Constrain
    h1.h-Hidden All Speakers
    != Util.view(site.currentConference.getSpeakersAll()).speaker()
