extends _sites.tpl.pug

block append vars
  - var page = site.find('sponsor.html')

block sponsors
  +callout()#thank-you-sponsors
    h1 Thank You to Our Sponsors
    p.-ta-c The generous contributions from the following sponsors enable our conference to continue its commitment to excellence in programming and networking events for the attendees.
    != site.currentConference.view_supporterLevel(site.getQueue('All Sponsors'))
