extends _sites.tpl.pug

block append vars
  - var page = site.find('sponsor.html')

block sponsors
  section.o-Runner.o-Runner--highlight#thank-you-sponsors: div.o-Constrain
    h1 Thank You to Our Sponsors
    != site.currentConference.view.supporterLevels(['Platinum', 'Corporate', 'Silver', 'Bronze', 'Copper'])
    != site.currentConference.view.supporterLevels(['Charter Members', 'Cooperating Organizations'])
