extends _sites.tpl.pug

block append vars
  - var page = site.find('sponsor.html')

block sponsors
  section.o-Runner.o-Runner--highlight#thank-you-sponsors: div.o-Constrain
    h1 Thank You to Our Sponsors
    include ../../_views/_SupporterLevel.view.pug
    each $supporterLevel,index in site.currentConference().getSupporterLevelQueue('sponsors-page')
      +supporterBlock($supporterLevel, site.currentConference())
