section
  h3 Button Sizing Styles
  h4 Inline Button Size
  figure.docs-figure
    p.
      The following button,
      #[a.c-Btn.c-Btn--inline(href="#0") inline button],
      is in line with the text in this paragraph.
      Lorem ipsum #[a.c-Btn.c-Btn--inline(href="#0")._hover inline button hover] dolor.
      Consectetur #[a.c-Btn.c-Btn--inline(href="#0")._active inline button active] adipiscing elit
      aliquam sagittis #[a.c-Btn.c-Btn--inline inline button disabled] suscipit nunc.
    pre.docs-pre.
      &lt;p&gt;The following button,
        &lt;a class="#[u c-Btn]  #[u c-Btn--inline]"&gt;inline button&lt;/a&gt;,
        is in line with the text in this paragraph. ...&lt;/p&gt;
section
  h3 Button Summary Table
  table
    mixin buttonCell(title, classnames)
      a(class=classnames href="#0")= title
      br
      code= `class="${classnames}"`
    thead: tr
      th Button Style
      th Default Size
      th Highlight Size
      th Inline Size
    tbody
      tr
        th Generic
        td: +buttonCell('Generic Default'  , 'c-Btn')
        td: +buttonCell('Generic Highlight', 'c-Btn c-Btn--hilite')
        td: +buttonCell('Generic Inline'   , 'c-Btn c-Btn--inline')
      tr
        th Generic Dark
        td: +buttonCell('Generic Dark Default'  , 'c-Btn c-Btn--dark')
        td: +buttonCell('Generic Dark Highlight', 'c-Btn c-Btn--dark c-Btn--hilite')
        td: +buttonCell('Generic Dark Inline'   , 'c-Btn c-Btn--dark c-Btn--inline')
      tr
        th Primary
        td: +buttonCell('Primary Default'  , 'c-Btn c-Btn--primary')
        td: +buttonCell('Primary Highlight', 'c-Btn c-Btn--primary c-Btn--hilite')
        td: +buttonCell('Primary Inline'   , 'c-Btn c-Btn--primary c-Btn--inline')
      tr
        th Secondary
        td: +buttonCell('Secondary Default'  , 'c-Btn c-Btn--secondary')
        td: +buttonCell('Secondary Highlight', 'c-Btn c-Btn--secondary c-Btn--hilite')
        td: +buttonCell('Secondary Inline'   , 'c-Btn c-Btn--secondary c-Btn--inline')
      tr
        th Ghost
        td: +buttonCell('Ghost Default'  , 'c-Btn c-Btn--ghost')
        td: +buttonCell('Ghost Highlight', 'c-Btn c-Btn--ghost c-Btn--hilite')
        td: +buttonCell('Ghost Inline'   , 'c-Btn c-Btn--ghost c-Btn--inline')
      tr(style="background-color: #555; color: #eee;")
        th Ghost Dark
        td: +buttonCell('Ghost Dark Default'  , 'c-Btn c-Btn--ghost c-Btn--ghost--dark')
        td: +buttonCell('Ghost Dark Highlight', 'c-Btn c-Btn--ghost c-Btn--ghost--dark c-Btn--hilite')
        td: +buttonCell('Ghost Dark Inline'   , 'c-Btn c-Btn--ghost c-Btn--ghost--dark c-Btn--inline')
    tbody
      tr
        th(rowspan="4") Glossy
        td: +buttonCell('Glossy Default'  , 'c-Btn c-Btn--glossy')
        td: +buttonCell('Glossy Highlight', 'c-Btn c-Btn--glossy c-Btn--hilite')
        td: +buttonCell('Glossy Inline'   , 'c-Btn c-Btn--glossy c-Btn--inline')
      tr
        td: +buttonCell('Glossy Dark Default'  , 'c-Btn c-Btn--glossy c-Btn--dark')
        td: +buttonCell('Glossy Dark Highlight', 'c-Btn c-Btn--glossy c-Btn--dark c-Btn--hilite')
        td: +buttonCell('Glossy Dark Inline'   , 'c-Btn c-Btn--glossy c-Btn--dark c-Btn--inline')
      tr
        td: +buttonCell('Glossy Primary Default'  , 'c-Btn c-Btn--glossy c-Btn--primary')
        td: +buttonCell('Glossy Primary Highlight', 'c-Btn c-Btn--glossy c-Btn--primary c-Btn--hilite')
        td: +buttonCell('Glossy Primary Inline'   , 'c-Btn c-Btn--glossy c-Btn--primary c-Btn--inline')
      tr
        td: +buttonCell('Glossy Secondary Default'  , 'c-Btn c-Btn--glossy c-Btn--secondary')
        td: +buttonCell('Glossy Secondary Highlight', 'c-Btn c-Btn--glossy c-Btn--secondary c-Btn--hilite')
        td: +buttonCell('Glossy Secondary Inline'   , 'c-Btn c-Btn--glossy c-Btn--secondary c-Btn--inline')
