p The Banner Component can be used to give a Runner a background image.
figure.docs-figure
  div.c-Banner(style="margin-bottom: 1.5rem; z-index:1;")
    h1 banner heading
    p banner content
  pre.docs-pre.
    &lt;div class="#[u c-Banner]"&gt;
      &lt;h1&gt;banner heading&lt;/h1&gt;
      &lt;p&gt;banner content&lt;/p&gt;
    &lt;/div&gt;
p Subclasses of Banner:
ul
  li #[code.docs-code .c-Banner--hero] &mdash; banner image on home page
  li #[code.docs-code .c-Banner--orgs] &mdash; banner for additional organizations
  li #[code.docs-code .c-Banner--location] &mdash; banner image for location page title
  li #[code.docs-code .c-Banner--prev] &mdash; previous year highlight block (blurred)
  li #[code.docs-code .c-Banner--next] &mdash; next year highlight block (blurred)
  li #[code.docs-code .c-Banner--loc] &mdash; location highlight block (same as location title, but blurred)
