section
  h3 Button Sizing Styles
  h4 Inline Button Size
  figure.docs-figure
    p.
      The following button,
      #[a.c-Button.c-Button--inline(href="#0") inline button],
      is in line with the text in this paragraph.
      Lorem ipsum #[a.c-Button.c-Button--inline(href="#0")._hover inline button hover] dolor.
      Consectetur #[a.c-Button.c-Button--inline(href="#0")._active inline button active] adipiscing elit
      aliquam sagittis #[a.c-Button.c-Button--inline inline button disabled] suscipit nunc.
    pre.docs-pre.
      &lt;p&gt;The following button,
        &lt;a class="#[u c-Button]  #[u c-Button--inline]"&gt;inline button&lt;/a&gt;,
        is in line with the text in this paragraph. ...&lt;/p&gt;
section
  h3 Button Summary Table
  table
    mixin buttonCell(title, classnames)
      a(class=classnames href="#0")= title
      br
      code= `class="${classnames}"`
    thead: tr
      th Button Style
      th Default Size
      th Highlight Size
      th Inline Size
    tbody
      tr
        th Generic
        td: +buttonCell('Generic Default'  , 'c-Button')
        td: +buttonCell('Generic Highlight', 'c-Button c-Button--hilite')
        td: +buttonCell('Generic Inline'   , 'c-Button c-Button--inline')
      tr
        th Generic Dark
        td: +buttonCell('Generic Dark Default'  , 'c-Button c-Button--dark')
        td: +buttonCell('Generic Dark Highlight', 'c-Button c-Button--dark c-Button--hilite')
        td: +buttonCell('Generic Dark Inline'   , 'c-Button c-Button--dark c-Button--inline')
      tr
        th Primary
        td: +buttonCell('Primary Default'  , 'c-Button c-Button--primary')
        td: +buttonCell('Primary Highlight', 'c-Button c-Button--primary c-Button--hilite')
        td: +buttonCell('Primary Inline'   , 'c-Button c-Button--primary c-Button--inline')
      tr
        th Secondary
        td: +buttonCell('Secondary Default'  , 'c-Button c-Button--secondary')
        td: +buttonCell('Secondary Highlight', 'c-Button c-Button--secondary c-Button--hilite')
        td: +buttonCell('Secondary Inline'   , 'c-Button c-Button--secondary c-Button--inline')
      tr
        th Ghost
        td: +buttonCell('Ghost Default'  , 'c-Button c-Button--ghost')
        td: +buttonCell('Ghost Highlight', 'c-Button c-Button--ghost c-Button--hilite')
        td: +buttonCell('Ghost Inline'   , 'c-Button c-Button--ghost c-Button--inline')
      tr(style="background-color: #555; color: #eee;")
        th Ghost Dark
        td: +buttonCell('Ghost Dark Default'  , 'c-Button c-Button--ghost c-Button--ghost--dark')
        td: +buttonCell('Ghost Dark Highlight', 'c-Button c-Button--ghost c-Button--ghost--dark c-Button--hilite')
        td: +buttonCell('Ghost Dark Inline'   , 'c-Button c-Button--ghost c-Button--ghost--dark c-Button--inline')
    tbody
      tr
        th(rowspan="4") Glossy
        td: +buttonCell('Glossy Default'  , 'c-Button c-Button--glossy')
        td: +buttonCell('Glossy Highlight', 'c-Button c-Button--glossy c-Button--hilite')
        td: +buttonCell('Glossy Inline'   , 'c-Button c-Button--glossy c-Button--inline')
      tr
        td: +buttonCell('Glossy Dark Default'  , 'c-Button c-Button--glossy c-Button--dark')
        td: +buttonCell('Glossy Dark Highlight', 'c-Button c-Button--glossy c-Button--dark c-Button--hilite')
        td: +buttonCell('Glossy Dark Inline'   , 'c-Button c-Button--glossy c-Button--dark c-Button--inline')
      tr
        td: +buttonCell('Glossy Primary Default'  , 'c-Button c-Button--glossy c-Button--primary')
        td: +buttonCell('Glossy Primary Highlight', 'c-Button c-Button--glossy c-Button--primary c-Button--hilite')
        td: +buttonCell('Glossy Primary Inline'   , 'c-Button c-Button--glossy c-Button--primary c-Button--inline')
      tr
        td: +buttonCell('Glossy Secondary Default'  , 'c-Button c-Button--glossy c-Button--secondary')
        td: +buttonCell('Glossy Secondary Highlight', 'c-Button c-Button--glossy c-Button--secondary c-Button--hilite')
        td: +buttonCell('Glossy Secondary Inline'   , 'c-Button c-Button--glossy c-Button--secondary c-Button--inline')
