p The Pass Component should be an #[code.docs-code article] element.
figure.docs-figure
  div(style="margin-bottom: 1.5rem;")
    include /_views/_Pass.view.pug
    +pass(new Pass('Speaker Pass')
      .description('Speakers and Presenters')
      .addAttendeeType(new Pass.AttendeeType('Member', true))
      .addAttendeeType(new Pass.AttendeeType('Non-Member'))
      .fineprint('Side note or fine print goes here. Only plain text is allowed.')
    , new Conference()
        .addRegistrationPeriod(new RegistrationPeriod({ name: 'Early Bird' }))
        .addRegistrationPeriod(new RegistrationPeriod({ name: 'Advance' }))
        .addRegistrationPeriod(new RegistrationPeriod({ name: 'Onsite' }))
        .currentRegistrationPeriod('Advance')
    )
  pre.docs-pre.
    &lt;article class="#[u c-Pass]"&gt;
      &lt;header class="#[u c-Pass__Head]"&gt;
        &lt;h1 class="#[u c-Pass__Hn]"&gt;Speaker Pass&lt;/h1&gt;
        &lt;p class="#[u c-Pass__Desc]"&gt;
          Speakers and Presenters
          &lt;small class="#[u c-Pass__Fine]"&gt;Side note ...&lt;/small&gt;
        &lt;/p&gt;
      &lt;/header&gt;
      &lt;section class="#[u c-Pass__Body]  #[u c-Pass__Period]"&gt;
        &lt;h1 class="#[u c-Pass__Period__Hn]"&gt;Advance&lt;/h1&gt;
        &lt;dl&gt;
          &lt;dt class="#[u c-Pass__Attendee]"&gt;Member&lt;/dt&gt;
          &lt;dd class="#[u c-Pass__Price]  #[u c-Pass__Price--featured]&gt;$0&lt;/dd&gt;
          &lt;dt class="#[u c-Pass__Attendee]"&gt;Non-Member&lt;/dt&gt;
          &lt;dd class="#[u c-Pass__Price]&gt;$0&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/section&gt;
      &lt;footer class="o-Flex  #[u c-Pass__Foot]"&gt;
        &lt;section class="o-Flex__Item  #[u c-Pass__Period]"&gt;
          ...
        &lt;/section&gt;
        &lt;section class="o-Flex__Item  #[u c-Pass__Period]"&gt;
          ...
        &lt;/section&gt;
      &lt;/footer&gt;
    &lt;/article&gt;
