figure.docs-figure
  +sitetoc({
    icons: { page: true }
  , depth: 1
  , pages: [
      new ConfPage('Home', '#0').setIcon('insert_drive_file')
    , new ConfPage('Registration', '#0').setIcon('insert_drive_file')
        .add(new ConfPage('Why Attend', '#0'))
    , new ConfPage('Program', '#0').setIcon('insert_drive_file')
        .add(new ConfPage('Short Courses', '#0'))
        .add(new ConfPage('Technical Tours', '#0'))
    , new ConfPage('Location', '#0').setIcon('insert_drive_file')
    , new ConfPage('Speakers', '#0').setIcon('insert_drive_file')
    ]
  , classes: {
      listclasses: 'o-Flex c-MenuMobile'
    , itemclasses: 'o-Flex__Item c-MenuMobile__Item'
    , linkclasses: 'c-MenuMobile__Link h-Block'
    , sub: {
        listclasses: 'c-MenuMobile__Sub'
      , itemclasses: 'c-MenuMobile__Sub__Item'
      , linkclasses: 'c-MenuMobile__Link c-MenuMobile_Sub_Link h-Block'
      }
    }
  })
  ul.o-List.o-Flex.c-MenuMobile(style="margin-bottom: 1.5rem;")
    li.o-List__Item.o-Flex__Item.c-MenuMobile__Item._hover
      a.c-MenuMobile__Link.h-Block(href="#0")._hover menu item hover
    li.o-List__Item.o-Flex__Item.c-MenuMobile__Item._active
      a.c-MenuMobile__Link.h-Block(href="#0")._active menu item active
    li.o-List__Item.o-Flex__Item.c-MenuMobile__Item
      a.c-MenuMobile__Link.h-Block menu item disabled
  pre.docs-pre.
    &lt;ul class="o-List  o-Flex  #[u c-MenuMobile]"&gt;
      &lt;li class="o-List__Item  o-Flex__Item  #[u c-MenuMobile__Item]"&gt;
        &lt;a class="#[u c-MenuMobile__Link]  h-Block"&gt;
          &lt;i class="material-icons  #[u c-MenuMobile__Icon]  -d-n-sM"&gt;#[var.docs-var page_icon]&lt;/i&gt;
          &lt;span&gt;Registration&lt;/span&gt;
        &lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
