p.
  The Program Heading is a date that serves as the heading of a
  #[+internalLink(Docs.DOCS.find('/docs/comp.html#time-block'))].
  It is of the format #[code.docs-code Ddddddd, Mmm DD].
  The first one is normal, the second one is &ldquo;selected&rdquo;&mdash;after
  an #[code.docs-code input] that is checked.
figure.docs-figure
  include /_views/_Date.view.pug
  p: +programHn(new Date('2017-10-08'))
  p
    input(type="checkbox" checked="")
    +programHn(new Date('2017-10-08'))
  pre.docs-pre.
    &lt;p&gt;
      &lt;time class="#[u c-ProgramHn]" datetime="2017-10-08"&gt;
        Sunday,&lt;br/&gt;
        Oct 8
      &lt;/time&gt;
    &lt;/p&gt;
    &lt;p&gt;
      &lt;input checked=""/&gt;
      &lt;time class="#[u c-ProgramHn]" datetime="2017-10-08"&gt;
        Sunday,&lt;br/&gt;
        Oct 8
      &lt;/time&gt;
    &lt;/p&gt;
p.
  Program Headings inside a #[+internalLink(Docs.DOCS.find('/docs/comp.html#banner-component'))]
  have different colors.
figure.docs-figure
  include /_views/_Date.view.pug
  div.c-Banner.-mb-1vru
    p: +programHn(new Date('2017-10-08'))
    p
      input(type="checkbox" checked="")
      +programHn(new Date('2017-10-08'))
  pre.docs-pre.
    &lt;div class="c-Banner"&gt;
      &lt;p&gt;
        &lt;time class="#[u c-ProgramHn]" datetime="2017-10-08"&gt;
          Sunday,&lt;br/&gt;
          Oct 8
        &lt;/time&gt;
      &lt;/p&gt;
      &lt;p&gt;
        &lt;input checked=""/&gt;
        &lt;time class="#[u c-ProgramHn]" datetime="2017-10-08"&gt;
          Sunday,&lt;br/&gt;
          Oct 8
        &lt;/time&gt;
      &lt;/p&gt;
    &lt;/div&gt;
