figure.docs-figure
  include /_views/_Session.view.pug
  +timeBlock([
    new Session({start_date:new Date('2016-09-28 10:00'), end_date:new Date('2016-09-28 19:00'), name:'Registration'             })
  , new Session({start_date:new Date('2016-09-28 10:30'), end_date:new Date('2016-09-28 16:30'), name:'Technical Tours'          }).url('#0')
  , new Session({start_date:new Date('2016-09-28 13:00'), end_date:new Date('2016-09-28 17:00'), name:'Short Courses'            }).url('#0')
  , new Session({start_date:new Date('2016-09-28 12:00'), end_date:new Date('2016-09-28 17:00'), name:'Optional Tours'           }).url('#0')
  , new Session({start_date:new Date('2016-09-28 17:30'), end_date:new Date('2016-09-28 19:30'), name:'Opening Welcome Reception'})
  , new Session({start_date:new Date('2016-09-28 13:00'), end_date:new Date('2016-09-28 17:00'), name:'Community Service Project'})
  ])
  pre.docs-pre.
    &lt;dl class="o-List  #[u c-TimeBlock]"&gt;
      &lt;li class="o-List__Item  o-Flex  #[u c-TimeBlock__Item]"&gt;
        &lt;dt class="o-Flex__Item  #[u c-TimeBlock__Times]"&gt;10am&ndash;7pm&lt;/dt&gt;
        &lt;dd class="o-Flex__Item  #[u c-TimeBlock__Desc]"&gt;
          Registration
        &lt;/dd&gt;
      &lt;/li&gt;
      &lt;li class="o-List__Item  o-Flex  #[u c-TimeBlock__Item]"&gt;
        &lt;dt class="o-Flex__Item  #[u c-TimeBlock__Times]"&gt;10:30am&ndash;4:30pm&lt;/dt&gt;
        &lt;dd class="o-Flex__Item  #[u c-TimeBlock__Desc]"&gt;
          &lt;a class="#[u c-TimeBlock__Link]"&gt;Technical Tours&lt;/a&gt;
        &lt;/dd&gt;
      &lt;/li&gt;
      &lt;li class="o-List__Item  o-Flex  #[u c-TimeBlock__Item]"&gt;
        &lt;dt class="o-Flex__Item  #[u c-TimeBlock__Times]"&gt;...&lt;/dt&gt;
        &lt;dd class="o-Flex__Item  #[u c-TimeBlock__Desc]"&gt;...&lt;/dd&gt;
      &lt;/li&gt;
      ...
    &lt;/dl&gt;
