p.
  Buttons are displayed inline-block, so in order to preserve
  vertical rhythm, be sure to contain them in typographical block-level elements
  such as paragraphs or lists.
p.
  Button Components may be in the form of #[code.docs-code a] elements (links or anchors) or
  #[code.docs-code button] elements.
  Keep in mind these button usage guidelines: #[code.docs-code button]s should
  indicate action and be worded actionably. Use an #[code.docs-code a] instead of a #[code.docs-code button]
  if there is a
  meaningful target href or url. Of course, #[code.docs-code a] elements
  as well as #[code.docs-code button] elements may be styled
  to look like Button Components.
p Every Button Component must have styles available for each of the following states:
dl
  dt.-fw-700 default
  dd the button does something or the link goes somewhere, but the user is not interacting with the component
  dt.-fw-700 hover/focus
  dd the user&rsquo;s cursor is hovering over the component, or the user agent is focusing on the component
  dt.-fw-700 active
  dd the user is in the process of clicking/activating the component
  dt.-fw-700 disabled
  dd
    | the component is inaccessable and/or does nothing, and the user
    |  may not interact with it.
    |  this state is implemented by
    ul
      li a #[code.docs-code button] with the #[code.docs-code disabled] attribute, or
      li.
        an #[code.docs-code a] with the #[code.docs-code href] attribute #[em absent]
        (this is not the same as an empty attribute #[code.docs-code= '[href=""]']).
p.
  Each of these states is demonstrated in the sections below, however
  only the code for the default state is shown.
p #[strong Important:] colors will vary by site.
section
  h3 Generic Buttons
  p Generic, general purpose buttons.
  figure.docs-figure
    ul.o-List
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn(href="#0") generic button
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn(href="#0")._hover generic button hover
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn(href="#0")._active generic button active
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn generic button disabled
    pre.docs-pre.
      &lt;a class="#[u c-Btn]"&gt;generic button&lt;/a&gt;
section
  h3 Button Color Styles
  h4 Dark Button Color
  p Same as generic button but darker.
  figure.docs-figure
    ul.o-List
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--dark(href="#0") generic dark button
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--dark(href="#0")._hover generic dark button hover
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--dark(href="#0")._active generic dark button active
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--dark generic dark button disabled
    pre.docs-pre.
      &lt;a class="#[u c-Btn]  #[u c-Btn--dark]"&gt;generic dark button&lt;/a&gt;
  h4 Primary Button Color
  p Button with site primary color.
  figure.docs-figure
    ul.o-List
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--primary(href="#0") primary button
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--primary(href="#0")._hover primary button hover
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--primary(href="#0")._active primary button active
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--primary primary button disabled
    pre.docs-pre.
      &lt;a class="#[u c-Btn]  #[u c-Btn--primary]"&gt;primary button&lt;/a&gt;
  h4 Secondary Button Color
  p Button with site secondary color.
  figure.docs-figure
    ul.o-List
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--secondary(href="#0") secondary button
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--secondary(href="#0")._hover secondary button hover
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--secondary(href="#0")._active secondary button active
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--secondary secondary button disabled
    pre.docs-pre.
      &lt;a class="#[u c-Btn]  #[u c-Btn--secondary]"&gt;secondary button&lt;/a&gt;
  h4 Ghost Button Color
  p.
    Ghost buttons can be used on a colored or image background.
    Obviously, choose a background and a button color that won&rsquo;t clash.
  figure.docs-figure
    ul.o-List
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0") ghost button
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0")._hover ghost button hover
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0")._active ghost button active
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost ghost button disabled
    div.o-Highlight.c-Banner(style="z-index:1;")
      ul.o-List
        li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0") ghost button inside a banner
        li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0")._hover ghost button hover inside a banner
        li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0")._active ghost button active inside a banner
        li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost ghost button disabled inside a banner
    pre.docs-pre.
      &lt;a class="#[u c-Btn]  #[u c-Btn--ghost]"&gt;ghost button&lt;/a&gt;
  h4 Dark Ghost Button Color
  p.
    Same as Ghost buttons but for use on darker background.
  figure.docs-figure
    ul.o-List
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost.c-Btn--ghost--dark(href="#0") ghost dark button
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost.c-Btn--ghost--dark(href="#0")._hover ghost dark button hover
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost.c-Btn--ghost--dark(href="#0")._active ghost dark button active
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost.c-Btn--ghost--dark ghost dark button disabled
    div.o-Highlight.c-Banner(style="z-index:1;")
      ul.o-List
        li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost.c-Btn--ghost--dark(href="#0") ghost dark button inside a banner
        li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost.c-Btn--ghost--dark(href="#0")._hover ghost dark button hover inside a banner
        li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost.c-Btn--ghost--dark(href="#0")._active ghost dark button active inside a banner
        li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost.c-Btn--ghost--dark ghost dark button disabled inside a banner
    pre.docs-pre.
      &lt;a class="#[u c-Btn]  #[u c-Btn--ghost]  #[u c-Btn--ghost--dark]"&gt;ghost dark button&lt;/a&gt;
section
  h3 Button Texture Styles
  h4 Glossy Button Texture
  p Glossy, #[abbr(title="three-dimensional") 3D] buttons. Mix with any color style as needed.
  figure.docs-figure
    ul.o-List
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--glossy(href="#0") glossy button
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--glossy(href="#0")._hover glossy button hover
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--glossy(href="#0")._active glossy button active
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--glossy glossy button disabled
    pre.docs-pre.
      &lt;a class="#[u c-Btn]  #[u c-Btn--glossy]"&gt;glossy button&lt;/a&gt;
section
  h3 Button Sizing Styles
  p These styles are for different sized buttons. Use with any color or texture style.
  h4 Highlight Button Size
  p Highlight buttons, for large buttons in highlight block.
  figure.docs-figure
    ul.o-List
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--hilite(href="#0") highlight button
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--hilite(href="#0")._hover highlight button hover
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--hilite(href="#0")._active highlight button active
      li.o-List__Item(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--hilite highlight button disabled
    pre.docs-pre.
      &lt;a class="#[u c-Btn]  #[u c-Btn--hilite]"&gt;highlight button&lt;/a&gt;
  h4 Inline Button Size
  p Inline buttons, for buttons in line with text.
  figure.docs-figure
    p.
      The following button,
      #[a.c-Btn.c-Btn--inline(href="#0") inline button],
      is in line with the text in this paragraph.
      Lorem ipsum #[a.c-Btn.c-Btn--inline(href="#0")._hover inline button hover] dolor.
      Consectetur #[a.c-Btn.c-Btn--inline(href="#0")._active inline button active] adipiscing elit
      aliquam sagittis #[a.c-Btn.c-Btn--inline inline button disabled] suscipit nunc.
    pre.docs-pre.
      &lt;p&gt;The following button,
        &lt;a class="#[u c-Btn]  #[u c-Btn--inline]"&gt;inline button&lt;/a&gt;,
        is in line with the text in this paragraph. ...&lt;/p&gt;
section
  h3 Button Summary Table
  table
    mixin buttonCell(title, classnames)
      a(class=classnames href="#0")= title
      br
      code= `class="${classnames}"`
    thead: tr
      th Button Style
      th Default Size
      th Highlight Size
      th Inline Size
    tbody
      tr
        th Generic
        td: +buttonCell('Generic Default'  , 'c-Btn')
        td: +buttonCell('Generic Highlight', 'c-Btn c-Btn--hilite')
        td: +buttonCell('Generic Inline'   , 'c-Btn c-Btn--inline')
      tr
        th Generic Dark
        td: +buttonCell('Generic Dark Default'  , 'c-Btn c-Btn--dark')
        td: +buttonCell('Generic Dark Highlight', 'c-Btn c-Btn--dark c-Btn--hilite')
        td: +buttonCell('Generic Dark Inline'   , 'c-Btn c-Btn--dark c-Btn--inline')
      tr
        th Primary
        td: +buttonCell('Primary Default'  , 'c-Btn c-Btn--primary')
        td: +buttonCell('Primary Highlight', 'c-Btn c-Btn--primary c-Btn--hilite')
        td: +buttonCell('Primary Inline'   , 'c-Btn c-Btn--primary c-Btn--inline')
      tr
        th Secondary
        td: +buttonCell('Secondary Default'  , 'c-Btn c-Btn--secondary')
        td: +buttonCell('Secondary Highlight', 'c-Btn c-Btn--secondary c-Btn--hilite')
        td: +buttonCell('Secondary Inline'   , 'c-Btn c-Btn--secondary c-Btn--inline')
      tr
        th Ghost
        td: +buttonCell('Ghost Default'  , 'c-Btn c-Btn--ghost')
        td: +buttonCell('Ghost Highlight', 'c-Btn c-Btn--ghost c-Btn--hilite')
        td: +buttonCell('Ghost Inline'   , 'c-Btn c-Btn--ghost c-Btn--inline')
      tr(style="background-color: #555; color: #eee;")
        th Ghost Dark
        td: +buttonCell('Ghost Dark Default'  , 'c-Btn c-Btn--ghost c-Btn--ghost--dark')
        td: +buttonCell('Ghost Dark Highlight', 'c-Btn c-Btn--ghost c-Btn--ghost--dark c-Btn--hilite')
        td: +buttonCell('Ghost Dark Inline'   , 'c-Btn c-Btn--ghost c-Btn--ghost--dark c-Btn--inline')
    tbody
      tr
        th(rowspan="4") Glossy
        td: +buttonCell('Glossy Default'  , 'c-Btn c-Btn--glossy')
        td: +buttonCell('Glossy Highlight', 'c-Btn c-Btn--glossy c-Btn--hilite')
        td: +buttonCell('Glossy Inline'   , 'c-Btn c-Btn--glossy c-Btn--inline')
      tr
        td: +buttonCell('Glossy Dark Default'  , 'c-Btn c-Btn--glossy c-Btn--dark')
        td: +buttonCell('Glossy Dark Highlight', 'c-Btn c-Btn--glossy c-Btn--dark c-Btn--hilite')
        td: +buttonCell('Glossy Dark Inline'   , 'c-Btn c-Btn--glossy c-Btn--dark c-Btn--inline')
      tr
        td: +buttonCell('Glossy Primary Default'  , 'c-Btn c-Btn--glossy c-Btn--primary')
        td: +buttonCell('Glossy Primary Highlight', 'c-Btn c-Btn--glossy c-Btn--primary c-Btn--hilite')
        td: +buttonCell('Glossy Primary Inline'   , 'c-Btn c-Btn--glossy c-Btn--primary c-Btn--inline')
      tr
        td: +buttonCell('Glossy Secondary Default'  , 'c-Btn c-Btn--glossy c-Btn--secondary')
        td: +buttonCell('Glossy Secondary Highlight', 'c-Btn c-Btn--glossy c-Btn--secondary c-Btn--hilite')
        td: +buttonCell('Glossy Secondary Inline'   , 'c-Btn c-Btn--glossy c-Btn--secondary c-Btn--inline')
