p.
  Use the Callout Component to draw attention to an item.
  This Component can be a paragraph, a figure, a sectioning element, a list,
  or anything you want, as long as it&rsquo;s a block.
p.
  A Callout can also contain a heading, or a pseudo-heading (an element that looks like a heading),
  as long as the Callout isn&rsquo;t a list. If it is a list, you can only include list items.
figure.docs-figure
  p.c-Callout A callout! Use whatever the heck element you want, even a #[code.docs-code &lt;figure&gt;]!
  pre.docs-pre.
    &lt;p class="#[u c-Callout]"&gt;A callout! ...&lt;/p&gt;
figure.docs-figure
  aside.c-Callout.-mb-1
    h1.c-Callout__Hn Attention!
    p.-mb-0 A callout aside with a heading!
  pre.docs-pre.
    &lt;aside class="#[u c-Callout]"&gt;
      &lt;h1 class="#[u c-Callout__Hn]"&gt;Attention!&lt;/h1&gt;
      &lt;p&gt;A callout aside with a heading! ...&lt;/p&gt;
    &lt;/aside&gt;
figure.docs-figure
  p.c-Callout
    strong.c-Callout__Hn.h-Block New!
    | A callout graf with a pseudo-heading!
  pre.docs-pre.
    &lt;p class="#[u c-Callout]"&gt;
      &lt;strong class="#[u c-Callout__Hn]  h-Block"&gt;New!&lt;/strong&gt;
      A callout graf with a pseudo-heading!
    &lt;/p&gt;
figure.docs-figure
  ul.o-List.o-ListAction.c-Callout
    li.o-List__Item.o-ListAction__Item.c-Callout__Item An item in a callout list!
    li.o-List__Item.o-ListAction__Item.c-Callout__Item Another item in a callout list!
    li.o-List__Item.o-ListAction__Item.c-Callout__Item Note the padding!
  pre.docs-pre.
    &lt;ul class="o-List  o-ListAction  #[u c-Callout]"&gt;
      &lt;li class="o-List__Item  o-ListAction__Item  #[u c-Callout__Item]"&gt;An item ...&lt;/li&gt;
      ...
    &lt;/ul&gt;
