figure.docs-figure
  include /_views/_c-Sitemap.view.pug
  +sitemap([
      new ConfPage('Home', '#0')
    , new ConfPage('Registration', '#0')
        .add(new ConfPage('Why Attend'     , '#0'))
    , new ConfPage('Program', '#0')
        .add(new ConfPage('Events'         , '#0'))
        .add(new ConfPage('Short Courses'  , '#0'))
        .add(new ConfPage('Technical Tours', '#0'))
        .add(new ConfPage('Optional Tours' , '#0'))
    , new ConfPage('Hotel & Travel', '#0')
        .add(new ConfPage('International Travel', '#0'))
    , new ConfPage('Speakers', '#0')
        .add(new ConfPage('Distinguished Lecture Series', '#0'))
    ])
  pre.docs-pre.
    &lt;ul class="o-List  o-Flex  #[u c-Sitemap]"&gt;
      &lt;li class="o-List__Item  #[u c-Sitemap__Item]"&gt;
        &lt;a&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="o-List__Item  o-Flex__Item  #[u c-Sitemap__Item]"&gt;
        &lt;a&gt;&lt;span&gt;Registration&lt;/span&gt;&lt;/a&gt;
        &lt;ul class="o-List  #[u c-Sitemap__Sub]"&gt;
          &lt;li class="o-List__Item  #[u c-Sitemap__Sub__Item]"&gt;
            &lt;a&gt;&lt;span&gt;Why Attend&lt;/span&gt;&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
      &lt;/li&gt;
      ...
    &lt;/ul&gt;
