p The Date Block Component displays Important Dates.
figure.docs-figure
  include /_views/_ImportantDate.view.pug
  +dateBlock([
    new ImportantDate({name:'Optional Final Papers Due'     , start_time:new Date('2015-10-12')})
  , new ImportantDate({name:'Early-Bird Registration Closes', start_time:new Date('2015-12-17')}).url('#0')
  ])
  pre.docs-pre.
    &lt;dl class="o-List  #[u c-DateBlock]"&gt;
      &lt;li class="o-List__Item #[u c-DateBlock__Item]"&gt;
        &lt;dt class="#[u c-DateBlock__Date]"&gt;
          Oct 12, 2015
        &lt;/dt&gt;
        &lt;dd class="#[u c-DateBlock__Desc]"&gt;Optional Final Papers Due&lt;/dd&gt;
      &lt;/li&gt;
      &lt;li class="o-List__Item #[u c-DateBlock__Item]"&gt;
        &lt;dt class="#[u c-DateBlock__Date]"&gt;
          Dec 17, 2015
        &lt;/dt&gt;
        &lt;dd class="#[u c-DateBlock__Desc]"&gt;
          &lt;a class="#[u c-DateBlock__Link]"&gt;Early-Bird Registration Closes&lt;/a&gt;
        &lt;/dd&gt;
      &lt;/li&gt;
      &lt;li class="o-List__Item #[u c-DateBlock__Item]"&gt;
        &lt;dt class="#[u c-DateBlock__Date]"&gt;...&lt;/dt&gt;
        &lt;dd class="#[u c-DateBlock__Desc]"&gt;...&lt;/dd&gt;
      &lt;/li&gt;
      ...
    &lt;/dl&gt;
//- details
  summary: h3 A note on this structure
  p.
    There are three main methods of marking up the Date Block,
    and one method is illegal (it does not validate with HTML5).
  p.
    The first method uses a valid, and appropriate, #[code.docs-code dl]-structure
    but does not allow you to wrap each group with an element containing microdata.
  pre.docs-pre.
    &lt;dl class="#[u c-DateBlock]"&gt;
      &lt;dt class="#[u c-DateBlock__Date]"&gt; date 1 &lt;/dt&gt;
      &lt;dd class="#[u c-DateBlock__Desc]"&gt; description 1 &lt;/dd&gt;
      &lt;dt class="#[u c-DateBlock__Date]"&gt; date 2 &lt;/dt&gt;
      &lt;dd class="#[u c-DateBlock__Desc]"&gt; description 2 &lt;/dd&gt;
      ...
    &lt;/dl&gt;
  p.
    The second method uses an #[strong.-fs-t.-fw-n invalid] structure,
    but groups are explicitly represented by #[code.docs-code dl > li] elements,
    which serve as the needed microdata wrapper.
  pre.docs-pre.
    &lt;dl class="#[u c-DateBlock]"&gt;
      &lt;li class="#[u c-DateBlock__Item]" #[mark itemscope=""]&gt;
        &lt;dt class="#[u c-DateBlock__Date]"&gt; date 1 &lt;/dt&gt;
        &lt;dd class="#[u c-DateBlock__Desc]"&gt; desciption 1 &lt;/dd&gt;
      &lt;/li&gt;
      &lt;li class="#[u c-DateBlock__Item]" #[mark itemscope=""]&gt;
        &lt;dt class="#[u c-DateBlock__Date]"&gt; date 2 &lt;/dt&gt;
        &lt;dd class="#[u c-DateBlock__Desc]"&gt; desciption 2 &lt;/dd&gt;
      &lt;/li&gt;
      &lt;li class="#[u c-DateBlock__Item]" #[mark itemscope=""]&gt;...&lt;/li&gt;
      ...
    &lt;/dl&gt;
  p.
    The second method is shown in the main demonstration above,
    and this is the official method used in the DateBlock view.
  p.
    The third method, an #[code.docs-code ol]-structure, is valid
    #[em and] allows wrapping. However there is no explicit relationship
    between dates and descriptions. This method is not currently used.
    (We use an ordered list because the dates are arranged chronologically.)
  pre.docs-pre.
    &lt;ol class="#[u c-DateBlock]"&gt;
      &lt;li class="#[u c-DateBlock__Item]" #[mark itemscope=""]&gt;
        &lt;span class="#[u c-DateBlock__Date]"&gt; date 1 &lt;/span&gt;
        &lt;span class="#[u c-DateBlock__Desc]"&gt; desciption 1 &lt;/span&gt;
      &lt;/li&gt;
      &lt;li class="#[u c-DateBlock__Item]" #[mark itemscope=""]&gt;
        &lt;span class="#[u c-DateBlock__Date]"&gt; date 2 &lt;/span&gt;
        &lt;span class="#[u c-DateBlock__Desc]"&gt; desciption 2 &lt;/span&gt;
      &lt;/li&gt;
      &lt;li class="#[u c-DateBlock__Item]" #[mark itemscope=""]&gt;...&lt;/li&gt;
      ...
    &lt;/ol&gt;
