p.
  The Conference Header is used on the home page, promoting the current conference,
  and on the About page, promoting the previous and next years&rsquo; conferences.
figure.docs-figure
  div.c-ConfHed
    h1.c-ConfHed__Name Geo-Risk 2017
    p.o-Grid.c-ConfHed__Detail
      span.o-Grid__Item.c-ConfHed__Place.h-Block Denver, CO
      span.o-Grid__Item.c-ConfHed__Dates.h-Block Jun 4&ndash;Jun 7
    p.c-ConfHed__Theme Geotechincal risk from theory to practice.
  pre.docs-pre.
    &lt;div class="#[u c-ConfHed]"&gt;
      &lt;h1 class="#[u c-ConfHed__Name]"&gt;Geo-Risk 2017&lt;/h1&gt;
      &lt;p class="o-Grid  #[u c-ConfHed__Detail]"&gt;
        &lt;span class="o-Grid__Item  #[u c-ConfHed__Place]  h-Block"&gt;Denver, CO&lt;/span&gt;
        &lt;span class="o-Grid__Item  #[u c-ConfHed__Dates]  h-Block"&gt;Jun 4&ndash;Jun 7&lt;/span&gt;
      &lt;/p&gt;
      &lt;p class="#[u c-ConfHed__Theme]"&gt;Geotechincal risk ...&lt;/p&gt;
    &lt;/div&gt;
