figure.docs-figure
  p.c-Callout A callout! Use whatever the heck element you want, even a #[code.docs-code &lt;figure&gt;]!
  pre.docs-pre.
    &lt;p class="#[u c-Callout]"&gt;A callout! ...&lt;/p&gt;
figure.docs-figure
  ul.o-List.o-ListAction.c-Callout
    li.o-List__Item.o-ListAction__Item.c-Callout__Item An item in a callout list!
    li.o-List__Item.o-ListAction__Item.c-Callout__Item Another item in a callout list!
    li.o-List__Item.o-ListAction__Item.c-Callout__Item Note the padding!
  pre.docs-pre.
    &lt;ul class="o-List  o-ListAction  #[u c-Callout]"&gt;
      &lt;li class="o-List__Item  o-ListAction__Item  #[u c-Callout__Item]"&gt;...&lt;/li&gt;
      ...
    &lt;/ul&gt;
