p The Page Title Component represents the top-level heading of a page.
figure.docs-figure
  h1.c-PageTitle A Page Title
  pre.docs-pre.
    &lt;h1 class="#[u c-PageTitle]"&gt;A Page Title&lt;/h1&gt;
//- p Use #[code.docs-code .c-PageTitle--special] if you want a special page title inside a banner.
//- figure.docs-figure
  div.c-Banner(style="height: 13.5rem; margin-bottom: 1.5rem; z-index:1;")
    h1.c-PageTitle.c-PageTitle--special special page title
  pre.docs-pre.
    &lt;div class="c-Banner"&gt;
      &lt;h1 class="#[u c-PageTitle]  #[u c-PageTitle--special]"&gt;special page title&lt;/h1&gt;
    &lt;/div&gt;
