p.
  The Tabs Object contains a series of corresponding tabs and panels.
  It is similar to a carousel, but only one panel is shown at a time and
  there is no timed automatic progression.
  Each Tabs Object must have a unique id for the carousel effect to work properly.
p Enable Javascript to view animation effects.
figure.docs-figure
  include /_views/_o-Tabs.view.pug
  +tabs(3)#demotabs
  pre.docs-pre.
    &lt;dl class="o-Flex  #[u o-Tabs]"#[mark  id="demotabs"]&gt;
      &lt;dt class="o-Flex__Item  #[u o-Tabs__Tab]"&gt;
        &lt;label class="h-Block"&gt;
          &lt;input class="#[u o-Tabs__Check]  h-Hidden"#[mark  type="radio" name="demotabs" value="0"] checked=""/&gt;
          tab 0
        &lt;/label&gt;
      &lt;/dt&gt;
      &lt;dd class="o-Flex__Item  #[u o-Tabs__Panel]"&gt;
        panel 0
      &lt;/dd&gt;

      &lt;dt class="o-Flex__Item  #[u o-Tabs__Tab]"&gt;... tab 1 ...&lt;/dt&gt;
      &lt;dd class="o-Flex__Item  #[u o-Tabs__Panel]"&gt;panel 1&lt;/dd&gt;
      ...
    &lt;/dl&gt;
