//- p.
//-   This Object also may not necessarily be a wrapper #[i(lang="la") per se];
//-   it may be applied to a single element like a heading.
//- figure.docs-figure
//-   div.o-Runner
//-     h1.o-Constrain heading with a max-width
//-   pre.docs-pre.
//-     &lt;div class="#[u o-Runner]"&gt;
//-       &lt;h1 class="#[u o-Constrain]"&gt;heading with a max-width&lt;/h1&gt;
//-     &lt;/div&gt;
