p.
  The Float Grid is a list of items arranged in a grid-like structure.
  It is similar to the Grid Object, except this object uses floating items
  instead of the Flexbox model. It works in older browsers such as #[cite Internet Explorer 9].
figure.docs-figure
  ul.o-List.o-GridFloat
    li.o-List__Item.o-GridFloat__Item Burns &amp; McDonnell Engineering
    li.o-List__Item.o-GridFloat__Item DIS-TRAN Steel, LLC
    li.o-List__Item.o-GridFloat__Item EDM International
    li.o-List__Item.o-GridFloat__Item Electrical Consultants, Inc.
    li.o-List__Item.o-GridFloat__Item Fabrimet Inc.
    li.o-List__Item.o-GridFloat__Item Falcon Steel Company
    li.o-List__Item.o-GridFloat__Item Sabre-FWT
    li.o-List__Item.o-GridFloat__Item HDR
    li.o-List__Item.o-GridFloat__Item Mitas Energy
    li.o-List__Item.o-GridFloat__Item Power Consulting Associates, LLC
    li.o-List__Item.o-GridFloat__Item Power Line Systems, Inc.
    li.o-List__Item.o-GridFloat__Item Quanta Services
    li.o-List__Item.o-GridFloat__Item ReliaPOLE Inspection Services
    li.o-List__Item.o-GridFloat__Item Sabre-FWT
    li.o-List__Item.o-GridFloat__Item SAE Towers
    li.o-List__Item.o-GridFloat__Item TAPP Steel Poles
    li.o-List__Item.o-GridFloat__Item Trinity Meyer Utility Structures
    li.o-List__Item.o-GridFloat__Item TRC Engineers
    li.o-List__Item.o-GridFloat__Item Underground Devices
    li.o-List__Item.o-GridFloat__Item Valmont Newmark
  pre.docs-pre.
    &lt;ul class="o-List  #[u o-GridFloat]"&gt;
      &lt;li class="o-List__Item  #[u o-GridFloat__Item]"&gt;Burns &amp; McDonnell Engineering&lt;/li&gt;
      &lt;li class="o-List__Item  #[u o-GridFloat__Item]"&gt;DIS-TRAN Steel, LLC&lt;/li&gt;
      ...
    &lt;/ul&gt;
