p Program Tabs are used in the Program Highlights block and on the Program page.
p.-fs-t This Organism uses:
ul.-fs-t
  li: +internalLink(Docs.DOCS.find('/docs/obj.html#tabs-object'))
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#program-heading'))
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#time-block'))
figure.docs-figure
  include /_views/_o-Tabs.view.pug
  +tabs(2)#demoprogram
    mixin tab(i)
      include /_views/_Date.view.pug
      +programHn([new Date('2016-09-28'),new Date('2016-10-01')][i])
    mixin panel(i)
      include /_views/_Session.view.pug
      +timeBlock([
        new Session({start_date:new Date('2016-09-28 10:00'), end_date:new Date('2016-09-28 19:00'), name:'Registration'             })
      , new Session({start_date:new Date('2016-09-28 10:30'), end_date:new Date('2016-09-28 16:30'), name:'Technical Tours'          }).url('#0')
      , new Session({start_date:new Date('2016-09-28 13:00'), end_date:new Date('2016-09-28 17:00'), name:'Short Courses'            }).url('#0')
      , new Session({start_date:new Date('2016-09-28 12:00'), end_date:new Date('2016-09-28 17:00'), name:'Optional Tours'           }).url('#0')
      , new Session({start_date:new Date('2016-09-28 17:30'), end_date:new Date('2016-09-28 19:30'), name:'Opening Welcome Reception'})
      , new Session({start_date:new Date('2016-09-28 13:00'), end_date:new Date('2016-09-28 17:00'), name:'Community Service Project'})
      ])
  +microdataCheckbox('program')
    pre.docs-pre.
      &lt;dl class="o-Flex  o-Tabs" #[mark id="demoprogram"]&gt;
        &lt;dt class="o-Flex__Item  o-Tabs__Tab"&gt;
          &lt;label class="h-Block"&gt;
            &lt;input class="o-Tabs__Check  h-Hidden"#[mark  type="radio" name="demoprogram" value="0"] checked=""/&gt;
            &lt;time class="c-ProgramHn"#[mark  datetime="2016-09-28"]&gt;
              Wednesday,&lt;br/&gt;
              Sep 28
            &lt;/time&gt;
          &lt;/label&gt;
        &lt;/dt&gt;
        &lt;dd class="o-Flex__Item  o-Tabs__Panel"&gt;
          &lt;dl class="o-List  c-TimeBlock"&gt;
            &lt;!-- see #[+internalLink(Docs.DOCS.find('/docs/comp.html#time-block'))] --&gt;
          &lt;/dl&gt;
        &lt;/dd&gt;

        &lt;dt class="o-Flex__Item  o-Tabs__Tab"&gt;
          &lt;label class="h-Block"&gt;
            &lt;input class="o-Tabs__Check ..." .../&gt;
            &lt;time class="c-ProgramHn"&gt;...&lt;/time&gt;
          &lt;/label&gt;
        &lt;/dt&gt;
        &lt;dd class="o-Flex__Item  o-Tabs__Panel"&gt;
          &lt;dl class="o-List  c-TimeBlock"&gt;...&lt;/dl&gt;
        &lt;/dd&gt;

        &lt;dt class="o-Flex__Item  o-Tabs__Tab"&gt;...&lt;/dt&gt;
        &lt;dd class="o-Flex__Item  o-Tabs__Panel"&gt;...&lt;/dd&gt;
        ...
      &lt;/dl&gt;
