p.-fs-t This Template uses:
ul.-fs-t
  li: +internalLink(Docs.DOCS.find('/docs/obj.html#runner-object'))
  li: +internalLink(Docs.DOCS.find('/docs/obj.html#constrain'))
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#page-title'))
figure.docs-figure
  header.o-Runner.o-Runner--pageHeader: div.o-Constrain
    h1.c-PageTitle Title of Page
  pre.docs-pre.
    &lt;header class="o-Runner  o-Runner--pageHeader"&gt;
      &lt;div class="o-Constrain"&gt;
        &lt;h1 class="c-PageTitle"&gt;Title of Page&lt;/h1&gt;
      &lt;/div&gt;
    &lt;/header&gt;
