p This Organism demonstrates markup for the #[a(href="comp.html#date-block") Date Block].
p.-fs-t This Organism uses:
ul.-fs-t
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#date-block'))
figure.docs-figure
  include /_views/_ImportantDate.view.pug
  +dateBlock([
    new ImportantDate({name:'Optional Final Papers Due'     , start_time:new Date('2015-10-12')})
  , new ImportantDate({name:'Early-Bird Registration Closes', start_time:new Date('2015-12-17')}).url('#0')
  ])
  +microdataCheckbox('dateblock')
    pre.docs-pre.
      &lt;dl class="o-List  c-DateBlock"&gt;
        &lt;li class="o-List__Item c-DateBlock__Item"#[mark.docs-c-Togglable__Text  itemprop="potentialAction" itemscope="" itemtype="http://schema.org/Action"]&gt;
          &lt;dt class="c-DateBlock__Date"&gt;
            &lt;time datetime="2015-10-12"#[mark.docs-c-Togglable__Text  itemprop="startTime"]&gt;Oct 12, 2015&lt;/time&gt;
          &lt;/dt&gt;
          &lt;dd class="c-DateBlock__Desc"#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;
            Optional Final Papers Due
          &lt;/dd&gt;
        &lt;/li&gt;
        &lt;li class="o-List__Item c-DateBlock__Item"#[mark.docs-c-Togglable__Text  itemprop="potentialAction" itemscope="" itemtype="http://schema.org/Action"]&gt;
          &lt;dt class="c-DateBlock__Date"&gt;
            &lt;time datetime="2015-12-17"#[mark.docs-c-Togglable__Text  itemprop="startTime"]&gt;Dec 17, 2015&lt;/time&gt;
          &lt;/dt&gt;
          &lt;dd class="c-DateBlock__Desc"#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;
            &lt;a class="c-DateBlock__Link" href="#0"#[mark.docs-c-Togglable__Text  itemprop="url"]&gt;Early-Bird Registration Closes&lt;/a&gt;
          &lt;/dd&gt;
        &lt;/li&gt;
        ...
      &lt;/dl&gt;
