p.
  There are 2 site footers: one for the sitemap and one for the
  ASCE company-related footer.
p.-fs-t This Template uses:
ul.-fs-t
  li: +internalLink(Docs.DOCS.find('/docs/obj.html#runner-object'))
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#mast-component'))
  li: +internalLink(Docs.DOCS.find('/docs/obj.html#constrain'))
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#sitemap-component'))
  //- li: +internalLink(Docs.DOCS.find('/docs/comp.html#asce-logo'))
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#social-list'))
figure.docs-figure
  div.-ps-r.-mb-1vru
    footer.o-Runner.c-Mast.c-Mast--sitemap#site-map: nav.o-Constrain
      h1.h-Hidden Site Map
      include /_views/_c-Sitemap.view.pug
      +sitemap([
          new ConfPage('Home', '#0')
        , new ConfPage('Registration', '#0')
            .add(new ConfPage('Why Attend'     , '#0'))
        , new ConfPage('Program', '#0')
            .add(new ConfPage('Events'         , '#0'))
            .add(new ConfPage('Short Courses'  , '#0'))
            .add(new ConfPage('Technical Tours', '#0'))
            .add(new ConfPage('Optional Tours' , '#0'))
        , new ConfPage('Hotel & Travel', '#0')
            .add(new ConfPage('International Travel', '#0'))
        , new ConfPage('Speakers', '#0')
            .add(new ConfPage('Distinguished Lecture Series', '#0'))
        ])
    footer.o-Runner.c-Mast.c-Mast--foot#connect-with-asce: div.o-Constrain
      h1.h-Hidden Connect With #[abbr(title="American Society of Civil Engineers") ASCE]
      address(itemscope="" itemtype="http://schema.org/NGO")
        p.c-ASCELogo(itemprop="name")
          a.h-Block.-h-1o1(href="http://www.asce.org" itemprop="url")
            span.h-Hidden American Society of Civil Engineers
        p(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress")
          span(itemprop="streetAddress") 1801 Alexander Bell Drive
          br
          span(itemprop="addressLocality") Reston
          = ', '
          span(itemprop="addressRegion") VA
          = ' '
          span(itemprop="postalCode") 22901-4382
        p.-fz-el-kilo(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
          a(href="tel:+1-800-548-2723") +1 (800) 548-2723
          meta(content="+1-800-548-2723" itemprop="telephone")
          meta(content="customer support" itemprop="contactType")
        p.-fz-el-kilo(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
          a(href="tel:+1-703-295-6300") +1 (703) 295-6300
          meta(content="+1-703-295-6300" itemprop="telephone")
          meta(content="United States of America" itemprop="areaServed")
          meta(content="customer support" itemprop="contactType")
        include /_views/_c-SocialList.view.pug
        +socialList({
          twitter : { url: '//twitter.com/ASCE'    , text: 'Follow ASCE on Twitter' }
        , google  : { url: '//plus.google.com/ASCE', text: 'Follow ASCE on Google+' }
        , facebook: { url: '//facebook.com/ASCE'   , text: 'Like ASCE on Facebook' }
        , linkedin: { url: '//linkedin.com/ASCE'   , text: 'Connect with ASCE on LinkedIn' }
        , youtube : { url: '//youtube.com/ASCE'    , text: 'Watch ASCE on YouTube' }
        }).c-SocialList--footer
        p: small
          | &copy; #[time 1996]&ndash;#[time 2016],#{' '}
          span(itemprop="name") American Society of Civil Engineers
  +microdataCheckbox('site-footer')
    pre.docs-pre.
      &lt;footer class="o-Runner  c-Mast  c-Mast--sitemap" id="site-map"&gt;
        &lt;nav class="o-Constrain"&gt;
          &lt;h1 class="h-Hidden"&gt;Site Map&lt;/h1&gt;
          &lt;ul class="o-List  o-Flex  c-Sitemap"&gt;
            &lt;li class="o-List__Item  c-Sitemap__Item"&gt;
              &lt;a&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class="o-List__Item  o-Flex__Item  c-Sitemap__Item"&gt;
              &lt;a&gt;&lt;span&gt;Registration&lt;/span&gt;&lt;/a&gt;
              &lt;ul class="o-List  c-Sitemap__Sub"&gt;
                &lt;li class="o-List__Item  c-Sitemap__Sub__Item"&gt;
                  &lt;a&gt;&lt;span&gt;Why Attend&lt;/span&gt;&lt;/a&gt;
                &lt;/li&gt;
                ...
              &lt;/ul&gt;
            &lt;/li&gt;
            ...
          &lt;/ul&gt;
        &lt;/nav&gt;
      &lt;/footer&gt;
      &lt;footer class="o-Runner  c-Mast  c-Mast--foot" id="connect-with-asce"&gt;
        &lt;div class="o-Constrain"&gt;
          &lt;h1 class="h-Hidden"&gt;Connect With &lt;abbr title="American Society of Civil Engineers"&gt;ASCE&lt;/abbr&gt;&lt;/h1&gt;
          &lt;address#[mark.docs-c-Togglable__Text  itemscope="" itemtype="http://schema.org/NGO"]&gt;
            &lt;p class="c-ASCELogo"&gt;
              &lt;a class="h-Block  -h-1o1" href="http://www.asce.org"#[mark.docs-c-Togglable__Text  itemprop="url"]&gt;
                &lt;span class="h-Hidden"&gt;American Society of Civil Engineers&lt;/span&gt;
              &lt;/a&gt;
            &lt;/p&gt;
            &lt;p#[mark.docs-c-Togglable__Text  itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"]&gt;
              &lt;span#[mark.docs-c-Togglable__Text  itemprop="streetAddress"]&gt;1801 Alexander Bell Drive&lt;/span&gt;
              &lt;br/&gt;
              &lt;span#[mark.docs-c-Togglable__Text  itemprop="addressLocality"]&gt;Reston&lt;/span&gt;,&amp;nbsp;
              &lt;span#[mark.docs-c-Togglable__Text  itemprop="addressRegion"]&gt;VA&lt;/span&gt;&amp;nbsp;
              &lt;span#[mark.docs-c-Togglable__Text  itemprop="postalCode"]&gt;22901-4382&lt;/span&gt;
            &lt;/p&gt;
            &lt;p class="-fz-el-kilo"#[mark.docs-c-Togglable__Text  itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint"]&gt;
              &lt;a href="tel:+1-800-548-2723"&gt;+1 (800) 548-2723&lt;/a&gt;
              #[mark.docs-c-Togglable__Text &lt;meta content="+1-800-548-2723" itemprop="telephone"/&gt;]
              #[mark.docs-c-Togglable__Text &lt;meta content="customer support" itemprop="contactType"/&gt;]
            &lt;/p&gt;
            &lt;p class="-fz-el-kilo"#[mark.docs-c-Togglable__Text  itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint"]&gt;
              &lt;a href="tel:+1-703-295-6300"&gt;+1 (703) 295-6300&lt;/a&gt;
              #[mark.docs-c-Togglable__Text &lt;meta content="+1-703-295-6300" itemprop="telephone"/&gt;]
              #[mark.docs-c-Togglable__Text &lt;meta content="United States of America" itemprop="areaServed"/&gt;]
              #[mark.docs-c-Togglable__Text &lt;meta content="customer support" itemprop="contactType"/&gt;]
            &lt;/p&gt;
            &lt;ul class="o-List  o-Flex  c-SocialList  c-SocialList--footer"&gt;
              &lt;li class="o-List__Item  o-Flex__Item  c-SocialList__Item"&gt;
                &lt;a class="c-SocialList__Link  c-SocialList__Link--twitter  h-Block"&gt;...&lt;/a&gt;
              &lt;/li&gt;
              ...
            &lt;/ul&gt;
            &lt;p&gt;
              &lt;small&gt;
                &amp;copy; &lt;time&gt;1996&lt;/time&gt;&amp;ndash;&lt;time&gt;2016&lt;/time&gt;,&amp;nbsp;
                &lt;span#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;American Society of Civil Engineers&lt;/span&gt;
              &lt;/small&gt;
            &lt;/p&gt;
          &lt;/address&gt;
        &lt;div&gt;
      &lt;footer&gt;
