p.
  The Hero Image is the largest image on the home page, containing
  the current conference name and information, call-to-action buttons,
  and other patterns.
  The Hero Image Organism also contains microdata HTML,
  which is unstyled and not considered part of any design component.
p.-fs-t This Organism uses:
ul.-fs-t
  li: +internalLink(Docs.DOCS.find('/docs/obj.html#runner-object'))
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#banner-component'))
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#conference-header'))
  li: +internalLink(Docs.DOCS.find('/docs/obj.html#constrain'))
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#page-title'))
  li: +internalLink(Docs.DOCS.find('/docs/obj.html#action-list'))
  li: +internalLink(Docs.DOCS.find('/docs/comp.html#buttons'))
figure.docs-figure
  include /_views/_Conference.view.pug
  +hero(new Conference({
    name      : 'Geo-Risk 2017'
  , url       : 'http://2017.georiskconference.org/'
  , theme     : 'Geotechincal risk from theory to practice.'
  , start_date: new Date('2017-06-04')
  , end_date  : new Date('2017-06-07')
  , promo_loc : { text: 'Denver, CO', title: 'Denver, Colorado'}
  }))
    +highlightButtons([
      { text: 'Register'      , href:'#0' }
    , { text: 'Sponsor'       , href:'#0' }
    , { text: 'Submit a Paper', href:'#0' }
    ], 'c-Btn--primary')
  +microdataCheckbox('hero')
    pre.docs-pre.
      &lt;header class="o-Runner  o-Runner--pageHeader  c-Banner  c-Banner--hero  c-ConfHed"&gt;
        &lt;div class="o-Constrain"&gt;
          &lt;h1 class="c-PageTitle c-ConfHed__Name"#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;Geo-Risk 2017&lt;/h1&gt;
          #[mark.docs-c-Togglable__Text!= '&lt;meta content="http://2017.georiskconference.org/" itemprop="url"/&gt;']
          &lt;p class="o-Grid  c-ConfHed__Detail"&gt;
            &lt;span class="o-Grid__Item  c-ConfHed__Detail__Place  h-Block"#[mark.docs-c-Togglable__Text  itemprop="location"]&gt;
              #[mark.docs-c-Togglable__Text &lt;abbr title="Denver, Colorado"&gt;]Denver, CO#[mark.docs-c-Togglable__Text!= '&lt;/abbr&gt;']
            &lt;/span&gt;
            &lt;span class="o-Grid__Item  c-ConfHed__Detail__Dates  h-Block"&gt;
              #[mark.docs-c-Togglable__Text &lt;time datetime="2017-06-04" itemprop="startDate"&gt;]Jun 4#[mark.docs-c-Togglable__Text!= '&lt;/time&gt;']
              &ndash;
              #[mark.docs-c-Togglable__Text &lt;time datetime="2017-06-07" itemprop="endDate"&gt;]Jun 7#[mark.docs-c-Togglable__Text!= '&lt;/time&gt;']
            &lt;/span&gt;
          &lt;/p&gt;
          &lt;p class="c-ConfHed__Theme  h-Hidden-nsM"#[mark.docs-c-Togglable__Text  itemprop="description"]&gt;Geotechincal risk ...&lt;/p&gt;
          &lt;ul class="o-List  o-ListAction"&gt;
            &lt;li class="o-List__Item  o-ListAction__Item"&gt;
              &lt;a class="c-Btn  c-Btn--hilite  c-Btn--primary" href="#0"&gt;Register&lt;/a&gt;
            &lt;/li&gt;
            ...
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/header&gt;
