-
  let drew = new Person({
    "@type": "Person",
    "identifier": "drew-caracciolo-1",
      "honorificPrefix": "Dr.",
      "givenName"      : "Drew",
      "additionalName" : "P.",
      "familyName"     : "Caracciolo",
      "honorificSuffix": "Ph.D., M.ASCE",
    "image"      : "files/headshot1.jpg",
    "url"        : "#0",
    "email"      : "example@asce.org",
    "telephone"  : "(703)293-5555",
    "jobTitle"   : "Senior Coordinator, Conferences & Meetings",
    "affiliation": "HDR Engineering, Inc."
  })
figure.docs-figure
  figcaption This is a person with #[em.-fw-b contact information]: full name along with email (linked) and phone number.
  ul: li(itemscope="" itemtype="http://schema.org/Person")!= drew.view.contact()
