p.
  A place can have a name, physical address, telephone, or url.
  Wrap with #[code.docs-code &lt;address&gt;] only if the place represents
  contact information for the article or document author.
p.
  This snippet should be wrapped with an element with the attributes
  #[code.docs-code= '[itemscope="" itemtype="http://schema.org/Place"]'].
figure.docs-figure
  -
    let asce_hq = new Venue({
      "@type": "Place",
      "name"       : "ASCE World Headquarters",
      "url"        : "http://www.asce.org/",
      "telephone"  : "+1-800-548-2723",
      "address"    : {
        "@type": "PostalAddress",
        "streetAddress"  : "1801 Alexander Bell Drive",
        "addressLocality": "Reston",
        "addressRegion"  : "Virginia",
        "postalCode"     : "22901-4382"
      }
    })
  p(itemscope="" itemtype="http://schema.org/Place")!= asce_hq.view.venue()
  +microdataCheckbox('place')
    //- REVIEW indentation
    pre.docs-pre.
      &lt;a href="http://www.asce.org/"#[mark.docs-c-Togglable__Text  itemprop="url"]&gt;
        &lt;b class="h-Clearfix"#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;ASCE World Headquarters&lt;/b&gt;
      &lt;/a&gt;
      #[mark.docs-c-Togglable__Text &lt;span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"&gt;]
        &lt;span class="h-Clearfix"#[mark.docs-c-Togglable__Text  itemprop="streetAddress"]&gt;1801 Alexander Bell Drive&lt;/span&gt;
        #[mark.docs-c-Togglable__Text &lt;span itemprop="addressLocality"&gt;]Reston#[mark.docs-c-Togglable__Text!= '&lt;/span&gt;'],
        #[mark.docs-c-Togglable__Text &lt;span itemprop="addressRegion"&gt;]VA#[mark.docs-c-Togglable__Text!= '&lt;/span&gt;']
        &lt;span class="h-Clearfix"#[mark.docs-c-Togglable__Text  itemprop="postalCode"]&gt;22901-4382&lt;/span&gt;
        &lt;span class="h-Clearfix"#[mark.docs-c-Togglable__Text  itemprop="addressCountry"]&gt;United States&lt;/span&gt;
      #[mark.docs-c-Togglable__Text!= '&lt;/span&gt;']
      &lt;a href="tel:+1-800-548-2723"#[mark.docs-c-Togglable__Text  itemprop="telephone"]&gt;+1-800-548-2723&lt;/a&gt;
//- p.
  Use the following CSS selectors to add styling.
//- pre.docs-pre.
  [itemtype="http://schema.org/Place"]                               { /* for the place */ }
  [itemtype="http://schema.org/Place"] [itemprop*="name"]            { /* for the place name */ }
  [itemtype="http://schema.org/Place"] [itemprop*="address"]         { /* for the place address */ }
  [itemtype="http://schema.org/Place"] [itemprop*="streetAddress"]   { /* for the place address&rsquo;s street */ }
  [itemtype="http://schema.org/Place"] [itemprop*="addressLocality"] { /* for the place address&rsquo;s city */ }
  [itemtype="http://schema.org/Place"] [itemprop*="addressRegion"]   { /* for the place address&rsquo;s state */ }
  [itemtype="http://schema.org/Place"] [itemprop*="postalCode"]      { /* for the place address&rsquo;s zip */ }
  [itemtype="http://schema.org/Place"] [itemprop*="telephone"]       { /* for the place telephone*/ }
  [itemtype="http://schema.org/Place"] a                             { /* for the place url */ }
