p.
  The Person content type can be rendered using different formats,
  many of which aren&rsquo;t design Components.
  #[a The Speaker Component]
  is a design Component that can also be used to mark up Person data.
p.
  Each of these snippets should be wrapped with an element with the attributes
  #[code.docs-code= '[itemscope="" itemtype="http://schema.org/Person"]'].
-
  let drew = new Person({
    "@type": "Person",
    "identifier": "drew-caracciolo-1",
      "honorificPrefix": "Dr.",
      "givenName"      : "Drew",
      "additionalName" : "P.",
      "familyName"     : "Caracciolo",
      "honorificSuffix": "Ph.D., M.ASCE",
    "image"      : "files/headshot1.jpg",
    "url"        : "#0",
    "email"      : "example@asce.org",
    "telephone"  : "(703)293-5555",
    "jobTitle"   : "Senior Coordinator, Conferences & Meetings",
    "affiliation": "HDR Engineering, Inc."
  })
figure.docs-figure
  figcaption This is a person with #[em.-fw-b affiliation]: entire name along with any affiliation.
  ul: li(itemscope="" itemtype="http://schema.org/Person")!= drew.view.affiliation()
  +microdataCheckbox('person-affiliation')
    pre.docs-pre.
      &lt;span#[mark.docs-c-Togglable__Text  itemprop="honorificPrefix"]&gt;Dr.&lt;/span&gt;
      &lt;span#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;
        &lt;span#[mark.docs-c-Togglable__Text  itemprop="givenName"]&gt;Drew&lt;/span&gt;
        &lt;span#[mark.docs-c-Togglable__Text  itemprop="additionalName"]&gt;P.&lt;/span&gt;
        &lt;span#[mark.docs-c-Togglable__Text  itemprop="familiyName"]&gt;Caracciolo&lt;/span&gt;
      &lt;/span&gt;,
      &lt;span#[mark.docs-c-Togglable__Text  itemprop="honorificSuffix"]&gt;Ph.D., M.ASCE&lt;/span&gt;,
      &lt;span class="-fs-t"#[mark.docs-c-Togglable__Text  itemprop="affiliation" itemscope="" itemtype="http://schema.org/Organization"]&gt;
        &lt;span#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;HDR Engineering, Inc.&lt;/span&gt;
      &lt;/span&gt;
figure.docs-figure
  figcaption This is a person with #[em.-fw-b contact information]: full name along with email (linked) and phone number.
  ul: li(itemscope="" itemtype="http://schema.org/Person")!= drew.view.contact()
  +microdataCheckbox('person-contact')
    pre.docs-pre.
      &lt;a href="example@asce.org"#[mark.docs-c-Togglable__Text  itemprop="email"]&gt;example@asce.org&lt;/a&gt;
      &lt;span#[mark.docs-c-Togglable__Text  itemprop="name"]&gt;
        &lt;span#[mark.docs-c-Togglable__Text  itemprop="givenName"]&gt;Drew&lt;/span&gt;
        &lt;span#[mark.docs-c-Togglable__Text  itemprop="additionalName"]&gt;P.&lt;/span&gt;
        &lt;span#[mark.docs-c-Togglable__Text  itemprop="familiyName"]&gt;Caracciolo&lt;/span&gt;
      &lt;/span&gt;,
      &lt;span#[mark.docs-c-Togglable__Text  itemprop="jobTitle"]&gt;Senior Coordinator, Conferences &amp; Meetings&lt;/span&gt; |
      &lt;span#[mark.docs-c-Togglable__Text  itemprop="telephone"]&gt;(703) 293-5555&lt;/span&gt;
