h4 Body Copy
p.
  Body copy use the #[b Open Sans] typeface, designed by Steve Matteson.
  There are 10 fonts available: 5 weights, with 2 styles each.
blockquote.
  #[b Open Sans] is a humanist sans-serif typeface used for the body text on the site.
  It has a vertical upright stress, large x-height, and wide apertures.
  Open Sans has a #[q neutral, yet friendly appearance].
  Though sans-serif, it borrows some elements from serif typefaces.
  For example, it has a true italic and options for the use of a
  double-storey #[i a] and #[i g].
figure.docs-figure(style="font-family:'Open Sans',sans-serif;")
  p.-fz-el-tera Rage Ghost Kip
  p
    | The five boxing wizards jump quickly.
    br
    span.-fs-t Oh, sphinx of black quartz, judge my vow.
  ul.o-List.o-Grid.-fz-el-mega
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-300       Open Sans 300
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-300.-fs-t Open Sans 300 italic
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400       Open Sans 400
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400.-fs-t Open Sans 400 italic
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-600       Open Sans 600
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-600.-fs-t Open Sans 600 italic
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700       Open Sans 700
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700.-fs-t Open Sans 700 italic
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-800       Open Sans 800
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-800.-fs-t Open Sans 800 italic
h4 Headings
p.
  Headings use the #[b Bitter] typeface, designed at Huerta Tipogr&aacute;fica.
  Only four fonts are available: normal and bold weights, with normal and italic style.
  The italic style is a #[i true italic].
blockquote.
  #[i= '[description pending]']
figure.docs-figure(style="font-family:'Bitter',serif;")
  p.-fz-el-tera Rage Ghost Kip
  p
    | Sixty zippers were quickly picked from the woven jute bag.
    br
    span.-fs-t Heavy boxes perform quick waltzes and jigs.
  ul.o-List.o-Grid.-fz-el-mega
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400       Bitter 400
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400.-fs-t Bitter 400 italic
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700       Bitter 700
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700.-fs-t Bitter 700 italic
h4 Futura (not used)
blockquote
  p.
    #[b Futura] is a geometric sans-serif typeface not used on the site.
  p.
    Comprised of simple geometric shapes, near-perfect circles, triangles, and squares,
    #[b Futura] has a subtle thick/thin transition of weight, virtually no stress, and has an appearance
    of efficiency and forwardness. It has quite a low x-height and tall ascenders,
    which enhance the readability of large headings on the web.
  p: q.
    The design of Futura avoids the decorative, eliminating nonessential elements,
    but makes subtle departures from pure geometric designs that allow
    the letterforms to seem balanced.
figure.docs-figure(style="font-family:'Futura',sans-serif;")
  p.-fz-el-tera Rage Ghost Kip
  p
    | The quick brown fox jumps over the lazy dog.
    br
    span.-fs-t The quick brown fox jumps over the lazy dog.
  ul.o-List.o-Grid.-fz-el-mega
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400       Futura 400
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400.-fs-t Futura 400 italic
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700       Futura 700
    li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700.-fs-t Futura 700 italic
