p.
  There are 2 site headers: one for the site title and one for the nav bar.
  Adjust your window size as necessary.
p.-fs-t This Template uses:
ul.-fs-t
  li: +internalLink(ConfDocs.DOCS.find('obj.html#runner-object'))
  li: +internalLink(ConfDocs.DOCS.find('comp.html#mast-component'))
  li: +internalLink(ConfDocs.DOCS.find('obj.html#constrain'))
  li: +internalLink(ConfDocs.DOCS.find('obj.html#float-grid'))
  li: +internalLink(ConfDocs.DOCS.find('comp.html#site-title'))
  li: +internalLink(ConfDocs.DOCS.find('comp.html#camo-link'))
  li: +internalLink(ConfDocs.DOCS.find('comp.html#toggle-button'))
  li: +internalLink(ConfDocs.DOCS.find('obj.html#drawer-object'))
  li: +internalLink(ConfDocs.DOCS.find('comp.html#mobile-menu'))
  li: +internalLink(ConfDocs.DOCS.find('comp.html#menu-bar'))
figure.docs-figure
  div.-ps-r.-mb-1vru
    header.o-Runner.c-Mast.c-Mast--head: div.o-Constrain
      include /_views/_ConfSite.view.pug
      +siteTitle(new ConfSite('CI Summit', '#0', 'Innovations In Construction')
        .logo('http://cisummit.org/sites/cisummit.org/files/ci-shield-logo.png')
      )
    header.o-Runner.c-Mast.c-Mast--menu: div.o-Constrain
      label.c-Toggle(aria-label="toggle main menu")
        input.c-Toggle__Check.h-Hidden(type="checkbox" value="main menu is open" role="switch")
        svg.c-Toggle__Viz(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36")
          path(d="M0,0 H24 V24 H0 z" fill="transparent")
          g(transform="translate(3,11)")
            each val in new Array(3)
              rect.c-Toggle__Viz__Bar(width="18" height="2")
        noscript: p Oops! Looks like you need to enable Javascript for the main menu.
      nav.o-Drawer
        h1.h-Hidden#main-menu Main Menu
        +sitetoc({
          icons: { page: true, sub: true }
        , depth: 1
        , pages: [
            new ConfPage('Home', '#0').setIcon('insert_drive_file')
          , new ConfPage('Registration', '#0').setIcon('insert_drive_file')
              .add(new ConfPage('Why Attend', '#0'))
          , new ConfPage('Program', '#0').setIcon('insert_drive_file')
              .add(new ConfPage('Short Courses', '#0'))
              .add(new ConfPage('Technical Tours', '#0'))
          , new ConfPage('Location', '#0').setIcon('insert_drive_file')
          , new ConfPage('Speakers', '#0').setIcon('insert_drive_file')
          ]
        , classes: {
            listclasses: 'o-Flex c-MenuMobile-nsM c-MenuBar-sM'
          , itemclasses: 'o-Flex__Item c-MenuMobile__Item-nsM c-MenuBar__Item-sM'
          , linkclasses: 'c-MenuMobile__Link-nsM c-MenuBar__Link-sM h-Block'
          , sub: {
              listclasses: 'c-MenuMobile__Sub-nsM c-MenuBar__Sub-sM'
            , itemclasses: 'c-MenuMobile__Sub__Item-nsM c-MenuBar__Sub__Item-sM'
            , linkclasses: 'c-MenuMobile__Link-nsM c-MenuMobile__Sub__Link-nsM c-MenuBar__Link-sM c-MenuBar__Sub__Link-sM h-Block'
            }
          }
        })
  pre.docs-pre.
    &lt;header class="o-Runner  c-Mast  c-Mast--head"&gt;
      &lt;div class="o-Constrain"&gt;
        &lt;a class="o-GridFloat  c-SiteTitle  c-LinkCamo  h-Block"&gt;
          &lt;span class="o-GridFloat__Item  c-SiteTitle__Logo"&gt;&lt;/span&gt;
          &lt;h1 class="o-GridFloat__Item  c-SiteTitle__Name"&gt;CI Summit&lt;/h1&gt;
          &lt;p class="o-GridFloat__Item  c-SiteTitle__Tagline"&gt;Innovations In Construction&lt;/p&gt;
        &lt;/a&gt;
      &lt;div&gt;
    &lt;header&gt;
    &lt;header class="o-Runner  c-Mast  c-Mast--head"&gt;
      &lt;div class="o-Constrain"&gt;
        &lt;label class="c-Toggle"#[mark  aria-label="toggle main menu"]&gt;
          &lt;input class="c-Toggle__Check  h-Hidden" type="checkbox" value="main menu is open"#[mark  role="switch"]/&gt;
          &lt;svg class="c-Toggle__Viz" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"&gt;
            &lt;path d="M0,0 H24 V24 H0 z" fill="transparent"&gt;&lt;/path&gt;
            &lt;g transform="translate(3,11)"&gt;
              &lt;rect class="c-Toggle__Viz__Bar" width="18" height="2"&gt;&lt;/rect&gt;
              &lt;rect class="c-Toggle__Viz__Bar" width="18" height="2"&gt;&lt;/rect&gt;
              &lt;rect class="c-Toggle__Viz__Bar" width="18" height="2"&gt;&lt;/rect&gt;
            &lt;/g&gt;
          &lt;/svg&gt;
          &lt;noscript&gt;&lt;p&gt;Oops! Looks like you need to enable Javascript for the main menu.&lt;/p&gt;&lt;/noscript&gt;
        &lt;/label&gt;
        &lt;nav class="o-Drawer"&gt;
          &lt;h1 class="h-Hidden" id="main-menu"&gt;Main Menu&lt;/h1&gt;
          &lt;ul class="o-List  o-Flex  c-MenuMobile-nsM  c-MenuBar-sM"#[mark  role="directory"]&gt;
            &lt;li class="o-List__Item  o-Flex__Item  c-MenuMobile__Item-nsM  c-MenuBar__Item-sM"&gt;
              &lt;a class="c-MenuMobile__Link-nsM  c-MenuBar__Link-sM  h-Block"&gt;
                &lt;i class="material-icons  c-MenuMobile__Icon  -d-n-sM"#[mark  role="none"]&gt;#[var.docs-var page_icon]&lt;/i&gt;
                &lt;span&gt;Registration&lt;/span&gt;
                &lt;i class="material-icons  c-MenuBar__Icon  -d-n-nM"#[mark  role="none"]&gt;expand_more&lt;/i&gt;
              &lt;/a&gt;
              &lt;ul class="o-List  c-MenuBar__Sub-sM"&gt;
                &lt;li class="o-List__Item  c-MenuBar__Sub__Item-sM"&gt;
                  &lt;a class="c-MenuBar__Sub__Link-sM  h-Block"&gt;
                    &lt;span&gt;Why Attend&lt;/span&gt;
                  &lt;/a&gt;
                &lt;/li&gt;
                ...
              &lt;/ul&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/nav&gt;
      &lt;div&gt;
    &lt;header&gt;
