h1#registration Registra&shy;tion
include ../../../../_views/_Pass.view.pug
+passList(site.currentConference(), 'starred')
+highlightButtons([{text:'Registration Details', href:'registration.html'}])
