doctype html
html(lang="en")
  head
    title ASCE Conferences Styleguide
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="Chris Harvey")
    meta(name="description" content="Style guide for all ASCE conference sites.")
    meta(name="keywords" content="style guide, pattern library, conference, convention, congress")
  body
    main
      header: h1 ASCE Conferences Styleguide
      p.
        #[strong This is the master styleguide for all conference websites.]
        Here you will find standards for coding, writing, and visual design.
        In addition, this styleguide contains a pattern library for commonly used
        components on conference sites, as well as a sample conference site itself.
      ul
        li: a(href="docs/index.html") Pattern Library
        li: a(href="http://conferences.style.asce.org/") Sample Conference Site
