h1#important-dates Important Dates
-
  let important_dates = Util.view(
    site.currentConference().getImportantDatesAll().filter(($impDate) => $impDate.isStarred())
  ).dateBlock()
!= important_dates
