h1#hotel-travel= Util.view(site.currentConference.promoLoc).promoLoc(false, true)
p._text-plain.-ta-c= site.currentConference.promoLoc.description
-
  let highlight_buttons = [
    { "@type": "WebPageElement", "text": "Hotel & Travel", "url": "location.html" },
  ]
footer!= Util.view(highlight_buttons).highlightButtons('c-Button--ghost c-Button--ghost--dark')
