h1#hotel-travel= site.currentConference.promoLoc.text
block promoLocationBlurb
-
  let highlight_buttons = [
    ElemName('a').attr('href','location.html').textContent(`Hotel & Travel`)
  ]
!= Util.view(highlight_buttons).highlightButtons('c-Button--ghost c-Button--ghost--dark')
