h1#hotel-travel= site.currentConference().promoLoc.text
block promoLocationBlurb
-
  let highlight_buttons = [
    new Element('a').attr('href','location.html').addContent(`Hotel & Travel`)
  ]
!= Util.VIEW.highlightButtons(highlight_buttons, 'c-Button--ghost c-Button--ghost--dark')
