h1#program-highlights Program Highlights
-
  let highlight_buttons = [
    ElemName('a').attr('href','program.html').textContent(`Full Program`)
  ]
!= site.currentConference.view.program('program-highlights-block', true)
!= Util.view(highlight_buttons).highlightButtons()
