h1#program-highlights Program Highlights
- var groupings = site.currentConference().groupSessions('starred')
include ../../../../_views/_o-Tabs.view.pug
+tabs(groupings.length)#program-highlights-block
  mixin tab(i)
    include ../../../../_views/_Date.view.pug
    +programHn(groupings[i].dateday)
  mixin panel(i)
    include ../../../../_views/_Session.view.pug
    +timeBlock(groupings[i].sessions)
-
  let highlight_buttons = Element.data([
    new Element('a').attr('href','program.html').addContent(`Full Program`)
  ], {
    attributes: {
      list : { class: 'o-List o-Flex o-ListAction' },
      value: { class: 'o-List__Item o-Flex__Item o-ListAction__Item' },
    },
    options: {attributes:{list:{ class:'c-Button c-Button--hilite' }}},
  })
!= highlight_buttons
