h1#program-highlights Program Highlights
- var groupings = site.currentConference().groupSessions('starred')
include ../../../../_views/_o-Tabs.view.pug
+tabs(groupings.length)#program-highlights-block
  mixin tab(i)
    != groupings[i].sessions[0].view.programHn()
  mixin panel(i)
    include ../../../../_views/_Session.view.pug
    +timeBlock(groupings[i].sessions)
-
  let highlight_buttons = [
    new Element('a').attr('href','program.html').addContent(`Full Program`)
  ]
!= Util.view(highlight_buttons).highlightButtons()
