h1#registration Registra&shy;tion
!= Util.view(site.currentConference().getPassesAll().filter(($p) => $p.isStarred())).pass(site.currentConference())
-
  let highlight_buttons = [
    new Element('a').attr('href','registration.html').addContent(`Registration Details`)
  ]
!= Util.view(highlight_buttons).highlightButtons()
