h1#registration Registra&shy;tion
!= Util.view(site.currentConference.getPassesAll()).pass(site.currentConference, site.getQueue('Featured Passes'))
-
  let highlight_buttons = [
    { "@type": "WebPageElement", "text": "Registration Details", "url": "registration.html" },
  ]
footer!= Util.view(highlight_buttons).highlightButtons()
