h1#join-the-conversation Join the Conver&shy;sation
p.-ta-c Follow ASCE on social media for real-time conversation.
include ../../../../_views/_c-SocialList.view.pug
+socialList(site.currentConference.getSocialAll()).c-SocialList--highlight
