h1#speakers Speakers
!= Util.view(site.currentConference.getSpeakersAll()).speaker(site.getQueue('Featured Speakers'))
-
  let highlight_buttons = [
    { "@type": "WebPageElement", "text": "All Speakers", "url": "speakers.html" },
  ]
!= Util.view(highlight_buttons).highlightButtons()
