h1#speakers Speakers
include ../../../../_views/_Person.view.pug
+speakerList(site.currentConference().getSpeakersAll().filter(function ($person) { return $person.isStarred() }))
-
  let highlight_buttons = [
    new Element('a').attr('href','speakers.html').addContent(`All Speakers`)
  ]
!= Util.view(highlight_buttons).highlightButtons()
