h1#speakers Speakers
!= site.currentConference.view_speaker(site.getQueue('Featured Speakers'))
-
  let highlight_buttons = [
    { "@type": "WebPageElement", "text": "All Speakers", "url": "speakers.html" },
  ]
footer!= Util.view_highlightButtons(highlight_buttons)
