
/*################################*\
    neo  |  _c-Banner.less
\*################################*/


.p-background-settings() {
  // default background image
  // override with site-specific stylesheet
  background-image: linear-gradient(to bottom, #373737, #2f2e33, #1c1b20, #181818); // fallback // image colors
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/092/552/original/free-abstract-background-vector.jpg');
  background-position: center;
  background-size: cover;
  background-color: #272629; // fallback // mix of image colors
}


// The Banner Component
//
//
// Any major section on any page with a full-width background image.
// Can be used on Runner or Mast to give a background image.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2016-10-21</time></dd>
// </dl></header>
//
// Markup:
// <div class="c-Banner  {{ modifier_class }}">
//   <h1>banner heading</h1>
//   <p>banner content</p>
// </div>
//
// .c-Banner--hero     - banner image on Home page
// .c-Banner--location - banner image on Location page
// .c-Banner--prev     - banner for previous year’s conference callout
// .c-Banner--next     - banner for next year’s conference callout
// .c-Banner--loc      - banner for location callout
//
// Weight: 6
//
// Styleguide Components.Banner
.c-Banner {
  --heading-color: currentColor;
  color: #fff;
  .p-background-settings();
  h1, h2, h3, h4, h5, h6 {
    color: inherit; // HACK fallback
  }
}

.c-Banner--hero,
.c-Banner--location,
.c-Banner--prev,
.c-Banner--next,
.c-Banner--loc {
  // NOTE adding text shadow for over top images
  // text-shadow: 0 0 0.25rem @g-color-gray_dk-shade2; // HACK fallback
  // text-shadow: 0 0 0.25rem var(--color-gray_dk-shade2, @g-color-gray_dk-shade2);
  text-shadow: 0 0 0.25rem #000;
}
.c-Banner--prev,
.c-Banner--next,
.c-Banner--loc {
  // NOTE adding blur background
  position: relative; // for ::before
  background: none; // override `.c-Banner`
  &::before {
    // need `::before` for filter effects
    // TODO until `backdrop-filter` is supported
    content: '';
    display: block;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1; // pseudo is painted after content; must be stacked lower
    .p-background-settings();
    filter: blur(4px);
  }
}


.c-Banner--hero {
}

.c-Banner--location {
}

.c-Banner--prev {
}
.c-Banner--next {
}
.c-Banner--loc {
}

// override actual urls in site-specific stylesheet
// need the `::before` pseudo for the blur effect
.c-Banner--hero         { background-image: var(--img-hero); }
.c-Banner--location     { background-image: var(--img-location); }
.c-Banner--prev::before { background-image: var(--img-prev); }
.c-Banner--next::before { background-image: var(--img-next); }
.c-Banner--loc::before  { background-image: var(--img-location); }
