
/*################################*\
    neo  |  _c-DateBlock.less
\*################################*/
@import (reference) url('../../node_modules/xmeter/css/src/__settings.less');
@import (reference) url('../../node_modules/xmeter/css/src/_h-FontSize.less');
@import (reference) url('../../node_modules/xmeter/css/src/_-mb.less');


// The Date Block
//
// A block containing rows of important dates.
// The first column is the date,
// the second column is the description.
//
// Pug:
// <pre>
// -
//   let dates = [
//     new DateRange({ "@type": "Action", "name": "Optional Final Papers Due"      , "startTime": "2015-10-12"                                       }),
//     new DateRange({ "@type": "Action", "name": "Early-Bird Registration Closes" , "startTime": "2015-12-17"                         , "url": "#0" }),
//     new DateRange({ "@type": "Action", "name": "Advance Registration Period"    , "startTime": "2015-12-18", "endTime": "2015-12-21"              }),
//   ]
// != Util.view(dates).dateBlock()
// </pre>
//
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-02-19</time></dd>
// </dl></header>
//
// Markup:
// <table><tbody class="c-DateBlock">
//   <tr class="c-DateBlock__Item" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/Action">
//     <td class="c-DateBlock__Date">
//       <time datetime="2015-10-12" itemprop="startTime">Oct 12, 2015</time>
//     </td>
//     <td class="c-DateBlock__Desc" itemprop="name">
//       Optional Final Papers Due
//     </td>
//   </tr>
//   <tr class="c-DateBlock__Item" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/Action">
//     <td class="c-DateBlock__Date">
//       <time datetime="2015-12-17" itemprop="startTime">Dec 17, 2015</time>
//     </td>
//     <td class="c-DateBlock__Desc" itemprop="name">
//       <a class="c-DateBlock__Link" href="#0" itemprop="url">Early-Bird Registration Closes</a>
//     </td>
//   </tr>
//   <tr class="c-DateBlock__Item" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/Action">
//     <td class="c-DateBlock__Date">
//       <time datetime="2015-12-18" itemprop="startTime">Dec 18, 2015</time>
//       &ndash;
//       <time datetime="2015-12-21" itemprop="endTime">Dec 21, 2015</time>
//     </td>
//     <td class="c-DateBlock__Desc" itemprop="name">
//       Advance Registration Period
//     </td>
//   </tr>
// </tbody></table>
//
// Weight: 15
//
// Styleguide Components.DateBlock

// override table-* default styles
.c-DateBlock,
.c-DateBlock__Item,
.c-DateBlock__Date,
.c-DateBlock__Desc {
  display: block;
}
.c-DateBlock__Date,
.c-DateBlock__Desc {
  padding: initial; // HACK fallbacks
  padding: unset;
}

/*tbody*/.c-DateBlock {
  width: 75%;
  inline-size: 75%;
  margin-left:  auto;
  margin-right: auto;
  color: var(--color-gray_dk-shade2, @g-color-gray_dk-shade2); // override if inside Banner
  text-shadow: initial; // override `.c-Banner`
}

/*tr*/.c-DateBlock__Item {
  .-mb-1;
  background-color: var(--color-gray_lt-tint2, @g-color-gray_lt-tint2);
  box-shadow: 0 0 0 1px var(--color-gray_dk, @g-color-gray_dk); // border hack
  @media screen                       { padding: @g-boxpadd_micr; }
  @media screen and (min-width: 30em) { padding: @g-boxpadd_mill; }
  @media screen and (min-width: 45em) { padding: @g-boxpadd_norm; }
}

/*td*/.c-DateBlock__Date {
  font-weight: 300;
}

/*td*/.c-DateBlock__Desc {
  .h-FontSize;
  --font-scale: @g-font-size-kilo;
  font-weight: 600;
}

.c-DateBlock__Link {
  text-decoration: underline;
}
