
/*################################*\
    neo  |  _c-Pass.less
\*################################*/
@import (reference) url('../../node_modules/xmeter/css/src/__settings.less');
@import (reference) url('../../node_modules/xmeter/css/src/_h-FontSize.less');
@import (reference) url('../../node_modules/xmeter/css/src/_-mb.less');
@import (reference) url('../../node_modules/xmeter/css/src/_-pt.less');


// The Pass Component
//
// A listing of prices for one Pass Type (e.g. Student, Speaker, Standard, etc.).
//
// DOM:
// <pre>
// const xPass = require('/tpl/x-pass.tpl.js')
//   let pass = new Pass({
//     "name": "Speaker Pass",
//     "description": "Speakers and Presenters",
//     "$fineprint" : "Side note or fine print goes here. Only plain text is allowed.",
//     "$attendeeTypes": ["Member", "Non-Member"]
//   })
//   let conference = new Conference({
//     "@context" : "http://schema.org/",
//     "@type"    : "Event",
//     "offers"   : [
//       { "@type": "AggregateOffer", "name": "Early Bird" },
//       { "@type": "AggregateOffer", "name": "Advance" },
//       { "@type": "AggregateOffer", "name": "Onsite" }
//     ],
//     "$currentRegistrationPeriod": "Advance"
//   })
// document.append(xPass.render({ ...pass._DATA, $conference: conference }))
// </pre>
//
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2016-10-14</time></dd>
// </dl></header>
//
// Markup:
// <article class="c-Pass" data-instanceof="Pass">
//   <header class="c-Pass__Head">
//     <h1 class="c-Pass__Hn">Speaker Pass</h1>
//     <p class="c-Pass__Desc">
//       Speakers and Presenters
//       <small class="c-Pass__Fine h-Block">Side note or fine print goes here. Only plain text is allowed.</small>
//     </p>
//   </header>
//   <div class="c-Pass__Body">
//     <section class="c-Pass__Period" data-instanceof="RegistrationPeriod" itemprop="offers" itemscope="" itemtype="http://schema.org/AggregateOffer">
//       <h1 class="c-Pass__Period__Hn">Advance</h1>
//       <dl>
//         <dt class="c-Pass__Attendee">Member</dt>
//         <dd class="c-Pass__Price">$0</dd>
//         <dt class="c-Pass__Attendee">Non-Member</dt>
//         <dd class="c-Pass__Price">$0</dd>
//       </dl>
//     </section>
//   </div>
//   <footer class="o-Flex c-Pass__Foot">
//     <section class="o-Flex__Item c-Pass__Period" data-instanceof="RegistrationPeriod" itemprop="offers" itemscope="" itemtype="http://schema.org/AggregateOffer">
//       <h1 class="c-Pass__Period__Hn">Early Bird</h1>
//       <dl>
//         <dt class="c-Pass__Attendee">Member</dt>
//         <dd class="c-Pass__Price">$0</dd>
//         <dt class="c-Pass__Attendee">Non-Member</dt>
//         <dd class="c-Pass__Price">$0</dd>
//       </dl>
//     </section>
//     <section class="o-Flex__Item c-Pass__Period" data-instanceof="RegistrationPeriod" itemprop="offers" itemscope="" itemtype="http://schema.org/AggregateOffer">
//       <h1 class="c-Pass__Period__Hn">Onsite</h1>
//       <dl>
//         <dt class="c-Pass__Attendee">Member</dt>
//         <dd class="c-Pass__Price">$0</dd>
//         <dt class="c-Pass__Attendee">Non-Member</dt>
//         <dd class="c-Pass__Price">$0</dd>
//       </dl>
//     </section>
//   </footer>
// </article>
//
// Weight: 9
//
// Styleguide Components.Pass
.c-Pass {
  .ticket();
  text-align: center;
  overflow: hidden;
}

.c-Pass__Head,
.c-Pass__Body,
.c-Pass__Foot {
  padding: @g-boxpadd_norm_v @g-boxpadd_mill_h;
}

.c-Pass__Head {
  & > *:last-child {
    margin-bottom: 0; // override base typog
  }
}

.c-Pass__Body {
  .ticket-body()
}

.c-Pass__Hn,
.c-Pass__Period__Hn {
  font-family: inherit; // override h1
  color: inherit; // override h1
}

.c-Pass__Hn,
.c-Pass__Desc {
  white-space: nowrap;
}

.c-Pass__Hn {
  .-pt-0; // override base `h1`
  .h-FontSize;
  --font-scale: @g-font-size-h2;
  --tracks: 2;
}

.c-Pass__Desc {
  font-weight: 600;
}

.c-Pass__Fine {
  font-weight: 300;
  font-style: italic;
  .h-FontSize;
  --font-scale: @g-font-size-mill;
  white-space: initial;
}



// Pass Periods
//
// A registration period containing a heading and a price listing.
// A subcomponent of <code>.c-Pass</code>.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2016-07-15</time></dd>
// </dl></header>
//
// Markup:
// <div class="{{ modifier_class }}">
// <section class="o-Flex__Item c-Pass__Period">
//   <h1 class="c-Pass__Period__Hn">Advance</h1>
//   <dl>
//     <dt class="c-Pass__Attendee">Member</dt>
//     <dd class="c-Pass__Price">$0</dd>
//     <dt class="c-Pass__Attendee">Non-Member</dt>
//     <dd class="c-Pass__Price">$0</dd>
//   </dl>
// </section>
// </div>
//
// .c-Pass__Body - pass body containing current registration period, featuring one price
//
// Weight: 1
//
// Styleguide Components.Pass.Period
.c-Pass__Period {
  & > *:last-child {
    margin-bottom: 0; // override base typog
  }
  .c-Pass__Foot & {
    flex: 1; // override Flex__Item (auto)
    &:not(:last-child) {
      position: relative; // for the ::after
      padding-right: @g-boxpadd_micr_h;
      &::after {
        @rw: 1px;
        content: '';
        display: block;
        position: absolute;
        right: 0; top: 0; bottom: 0;
        margin: var(--vru) 0;
        border-right-width: @rw;
        opacity: 0.5;
      }
    }
    &:last-child {
      padding-left:  @g-boxpadd_micr_h;
    }
  }
}

.c-Pass__Period__Hn {
  // override base `h1`
  .-mb-0;
  .-pt-0;
  font-weight: 700;
  .h-FontSize;
  --font-scale: @g-font-size-h4;
  .c-Pass__Body & {
    --font-scale: @g-font-size-h3;
    --tracks: 2;
  }
}



.c-Pass__Attendee {
  &::after {
    content: ':\0020';
  }
}

.c-Pass__Price {
  .c-Pass__Body &:first-of-type {
    .h-FontSize;
    --font-scale: @g-font-size-h3;
    --tracks: 2;
  font-weight: 600;
  color: var(--color-primary, @g-color-primary);
  }
}

.c-Pass__Price--featured {
}
