
/*################################*\
    neo  |  _c-SupporterBlock.less
\*################################*/



html {
  --supporter-logo-lrg-width: 120px; --supporter-logo-lrg-height: 65px ;
  --supporter-logo-med-width: 90px ; --supporter-logo-med-height: 48px ;
  --supporter-logo-sml-width: 68px ; --supporter-logo-sml-height: 36px ;
  @media screen and (min-width: 30em) {
    --supporter-logo-lrg-width: 250px; --supporter-logo-lrg-height: 110px;
    --supporter-logo-med-width: 188px; --supporter-logo-med-height: 82px ;
    --supporter-logo-sml-width: 140px; --supporter-logo-sml-height: 62px ;
  }
  @media screen and (min-width: 60em) {
    --supporter-logo-lrg-width: 360px; --supporter-logo-lrg-height: 160px;
    --supporter-logo-med-width: 270px; --supporter-logo-med-height: 120px;
    --supporter-logo-sml-width: 202px; --supporter-logo-sml-height: 90px ;
  }
}


// The Supporter Block
//
// A section containing one supporter level.
// On the Sponsor page, each Supporter Block corresponds to one level,
// e.g., Platinum, Gold, or Corporate.
// On all other pages, this block may be used to group additional organizations,
// such as Cooperating Organizations.
//
// Use in Pug:
// <pre>
//   -
//     let supporters = [
//       new Supporter('Bank of America').url('#0').img('http://www.asceconvention.org/sites/asceconvention.org/files/sponsors/bank-of-america-logo.jpg'),
//       new Supporter('UPS'            ).url('#0').img('http://www.asceconvention.org/sites/asceconvention.org/files/sponsors/ups-logo.jpg'),
//       new Supporter('Geico'          ).url('#0').img('http://www.asceconvention.org/sites/asceconvention.org/files/sponsors/geico-asce-convention-logo.png'),
//     ]
//     let titanium = new SupporterLevel('Titanium').size(SupporterLevel.LogoSize.LARGE)
//     let platinum = new SupporterLevel('Platinum').size(SupporterLevel.LogoSize.MEDIUM)
//     let silver   = new SupporterLevel('Silver'  ).size(SupporterLevel.LogoSize.SMALL)
//     let my_conference = new Conference()
//       .addSupporter(supporters[0].level('Titanium'))
//       .addSupporter(supporters[1].level('Titanium'))
//       .addSupporter(supporters[2].level('Titanium'))
//       .addSupporter(supporters[0].level('Platinum'))
//       .addSupporter(supporters[1].level('Platinum'))
//       .addSupporter(supporters[2].level('Platinum'))
//       .addSupporter(supporters[0].level('Silver'))
//       .addSupporter(supporters[1].level('Silver'))
//       .addSupporter(supporters[2].level('Silver'))
//   include /_views/_SupporterLevel.view.pug
//   +supporterBlock(titanium, my_conference)
//   +supporterBlock(platinum, my_conference)
//   +supporterBlock(silver  , my_conference)
// </pre>
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-07-19</time></dd>
// </dl></header>
//
// Markup:
// <section class="c-SupporterBlock {{ modifier_class }}">
//   <h1 class="c-SupporterBlock__Hn">Titanium</h1>
//   <ul class="o-List o-Flex c-SupporterBlock__List">
//     <li class="o-List__Item o-Flex__Item c-SupporterBlock__List__Item" itemprop="sponsor" itemscope="" itemtype="https://schema.org/Organization">
//       <a href="#0" rel="external nofollow" itemprop="url">
//         <img class="c-SupporterBlock__Logo" src="http://www.asceconvention.org/sites/asceconvention.org/files/sponsors/bank-of-america-logo.jpg" alt="Bank of America" itemprop="logo"/>
//         <meta content="Bank of America" itemprop="name"/>
//       </a>
//     </li>
//     <li class="o-List__Item o-Flex__Item c-SupporterBlock__List__Item" itemprop="sponsor" itemscope="" itemtype="https://schema.org/Organization">
//       <a href="#0" rel="external nofollow" itemprop="url">
//         <img class="c-SupporterBlock__Logo" src="http://www.asceconvention.org/sites/asceconvention.org/files/sponsors/ups-logo.jpg" alt="UPS" itemprop="logo"/>
//         <meta content="UPS" itemprop="name"/>
//       </a>
//     </li>
//     <li class="o-List__Item o-Flex__Item c-SupporterBlock__List__Item" itemprop="sponsor" itemscope="" itemtype="https://schema.org/Organization">
//       <a href="#0" rel="external nofollow" itemprop="url">
//         <img class="c-SupporterBlock__Logo" src="http://www.asceconvention.org/sites/asceconvention.org/files/sponsors/geico-asce-convention-logo.png" alt="Geico" itemprop="logo"/>
//         <meta content="Geico" itemprop="name"/>
//       </a>
//     </li>
//   </ul>
// </section>
//
// .c-SupporterBlock--lrg - contains large logos
// .c-SupporterBlock--med - contains medium logos
// .c-SupporterBlock--sml - contains small logos
//
// Weight: 13
//
// Styleguide Components.SupporterBlock
.c-SupporterBlock {
  // large logos by default
  --supporter-logo-width : var(--supporter-logo-lrg-width );
  --supporter-logo-height: var(--supporter-logo-lrg-height);
  text-align: center;
  margin-bottom: calc(~'2 * var(--vru)');
}
.c-SupporterBlock--lrg {
}
.c-SupporterBlock--med {
  --supporter-logo-width : var(--supporter-logo-med-width );
  --supporter-logo-height: var(--supporter-logo-med-height);
}
.c-SupporterBlock--sml {
  --supporter-logo-width : var(--supporter-logo-sml-width );
  --supporter-logo-height: var(--supporter-logo-sml-height);
}

.c-SupporterBlock__Hn {
  .font-size-el(@g-font-size-kilo);
  font-family: inherit;
  font-weight: 900;
  text-align: center;
  &,
  .c-Banner & { // HACK specificity TODO remove when .c-Banner >> h1 can be removed
  color: @g-color-gray_dk; // HACK fallback
  color: var(--color-gray_dk);
  }
  // visualization line separator
  @supports (flex-wrap: wrap) {
    display: flex;
    align-items: center;
    &::before,
    &::after {
      content: '';
      flex: 1;
      border: 1px solid @g-color-table-br;
      margin: 0 1rem;
    }
  }
}

.c-SupporterBlock__List {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.c-SupporterBlock__List__Item {
  flex: 0 1 var(--supporter-logo-width);
  margin: 0 1rem var(--vru);
}

.c-SupporterBlock__Logo {
  max-height: var(--supporter-logo-height);
  transition: filter 1000ms;
  // &:not(:hover, :focus) // CHANGED syntax not supported yet
  &:not(:hover):not(:focus) {
    filter: grayscale(100%);
  }
}
