
/*################################*\
    neo  |  _c-Sitemap.less
\*################################*/
@import (reference) url('../../node_modules/xmeter/css/src/__settings.less');
@import (reference) url('../../node_modules/xmeter/css/src/_h-FontSize.less');
@import (reference) url('../../node_modules/xmeter/css/src/_-mb.less');


// The Site Map
//
// The site map for all pages on the site. Appears in the footer.
//
// Use with Pug:
// <pre>
// -
//   let homepage = new ConfPage('index', '//')
//     .add(new ConfPage('Home', '#0'))
//     .add(new ConfPage('Registration', '#0')
//       .add(new ConfPage('Why Attend', '#0')))
//     .add(new ConfPage('Program', '#0')
//       .add(new ConfPage('Events'         , '#0'))
//       .add(new ConfPage('Short Courses'  , '#0'))
//       .add(new ConfPage('Technical Tours', '#0'))
//       .add(new ConfPage('Optional Tours' , '#0')))
//     .add(new ConfPage('Hotel & Travel', '#0')
//       .add(new ConfPage('International Travel', '#0')))
//     .add(new ConfPage('Speakers', '#0')
//       .add(new ConfPage('Distinguished Lecture Series', '#0')))
//   let sitemap_options = {
//     depth: Infinity,
//     start: 1,
//     classes: {
//       list: 'o-List o-Flex c-Sitemap',
//       item: 'o-List__Item o-Flex__Item c-Sitemap__Item',
//     },
//     options: {
//       classes: {
//         list: 'o-List c-Sitemap__Sub',
//         item: 'o-List__Item c-Sitemap__Sub__Item',
//       }
//     },
//   }
// != Util.view(homepage).pageToc(sitemap_options)
// </pre>
//
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2016-10-12</time></dd>
// </dl></header>
//
// Markup:
// <ul class="o-List o-Flex c-Sitemap">
//   <li class="o-List__Item c-Sitemap__Item">
//     <a href="#0"><span>Home</span></a>
//   </li>
//   <li class="o-List__Item c-Sitemap__Item">
//     <a href="#0"><span>Registration</span></a>
//     <ul class="o-List c-Sitemap__Sub">
//       <li class="o-List__Item c-Sitemap__Sub__Item">
//         <a href="#0"><span>Why Attend</span></a>
//       </li>
//     </ul>
//   </li>
//   <li class="o-List__Item c-Sitemap__Item">
//     <a href="#0"><span>Registration</span></a>
//     <ul class="o-List c-Sitemap__Sub">
//       <li class="o-List__Item c-Sitemap__Sub__Item">
//         <a href="#0"><span>Events</span></a>
//       </li>
//       <li class="o-List__Item c-Sitemap__Sub__Item">
//         <a href="#0"><span>Short Courses</span></a>
//       </li>
//       <li class="o-List__Item c-Sitemap__Sub__Item">
//         <a href="#0"><span>Technical Tours</span></a>
//       </li>
//       <li class="o-List__Item c-Sitemap__Sub__Item">
//         <a href="#0"><span>Optional Tours</span></a>
//       </li>
//     </ul>
//   </li>
// </ul>
//
// Weight: 5
//
// Styleguide Components.Sitemap

.c-Sitemap,
.c-Sitemap__Sub {
  margin-bottom: initial; // HACK fallback for unset
  margin-bottom: unset; // HACK fallback for logical properties
  margin-block-end: unset; // override base ul
}

.c-Sitemap {
  .menufont();
  @media not all and (min-width: 45em) {
    flex-direction: column;
    .font-size-mod(@g-font-size-kilo);
  }
}

.c-Sitemap__Item {
  flex: none;
  @media not all and (min-width: 45em) {
    &:not(:last-child) {
      .-mb-1;
    }
  }
}

.c-Sitemap__Sub {
  font-weight: 300;
  .h-FontSize;
  --font-scale: (1/@g-font-size-kilo);
  text-transform: initial; // override .menufont()
  @media screen and (min-width: 45em) {
    --font-scale: (12/14); // REVIEW:MAGICNUMBER
  }
}

.c-Sitemap__Sub__Item {
}
