
/*################################*\
    neo  |  _c-TimeBlock.less
\*################################*/
@import (reference) url('../../node_modules/xmeter/css/src/__settings.less');
@import (reference) url('../../node_modules/xmeter/css/src/_h-FontSize.less');


// The Time Block
//
// A list of sessions for a single day.
//
// Pug:
// <pre>
// -
//   let sessions = [
//     new DateRange({ "@type": "Event", "name": "Registration"              , "startDate": "2016-09-28 10:00", "endDate": "2016-09-28 19:00"              }),
//     new DateRange({ "@type": "Event", "name": "Technical Tours"           , "startDate": "2016-09-28 10:30", "endDate": "2016-09-28 16:30", "url": "#0" }),
//     new DateRange({ "@type": "Event", "name": "Short Courses"             , "startDate": "2016-09-28 13:00", "endDate": "2016-09-28 17:00", "url": "#0" }),
//     new DateRange({ "@type": "Event", "name": "Optional Tours"            , "startDate": "2016-09-28 12:00", "endDate": "2016-09-28 17:00", "url": "#0" }),
//     new DateRange({ "@type": "Event", "name": "Opening Welcome Reception" , "startDate": "2016-09-28 17:30", "endDate": "2016-09-28 19:30"              }),
//     new DateRange({ "@type": "Event", "name": "Community Service Project" , "startDate": "2016-09-28 13:00", "endDate": "2016-09-28 17:00"              }),
//   ]
// != Util.view(sessions).timeBlock()
// </pre>
//
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-02-19</time></dd>
// </dl></header>
//
// Markup:
// <table><tbody class="c-TimeBlock">
//   <tr class="c-TimeBlock__Item" itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event">
//     <td class="c-TimeBlock__Times">
//       <time datetime="2016-09-28 10:00" itemprop="startDate">10am</time>
//       &ndash;
//       <time datetime="2016-09-28 19:00" itemprop="endDate">7pm</time>
//     </td>
//     <td class="c-TimeBlock__Desc" itemprop="name">
//       Registration
//     </td>
//   </tr>
//   <tr class="c-TimeBlock__Item" itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event">
//     <td class="c-TimeBlock__Times">
//       <time datetime="2016-09-28 10:00" itemprop="startDate">10am</time>
//       &ndash;
//       <time datetime="2016-09-28 19:00" itemprop="endDate">7pm</time>
//     </td>
//     <td class="c-TimeBlock__Desc" itemprop="name">
//       <a class="c-TimeBlock__Link" href="#0" itemprop="url">Technical Tours</a>
//     </td>
//   </tr>
// </tbody></table>
//
// Weight: 11
//
// Styleguide Components.TimeBlock

// override table-* default displays
.c-TimeBlock,
.c-TimeBlock__Item,
.c-TimeBlock__Times,
.c-TimeBlock__Desc {
  @media not all and (min-width: 30em) {
    display: block;
  }
}
.c-TimeBlock__Times,
.c-TimeBlock__Desc {
  padding: initial; // HACK fallbacks
  padding: unset;
}


/*tbody*/.c-TimeBlock {
}

/*tr*/.c-TimeBlock__Item {
}

.c-TimeBlock__Times,
.c-TimeBlock__Desc {
  width: 50%;
  padding-bottom: calc(~'2 * var(--lh)');
  @media not all and (min-width: 30em) {
    padding-left: @g-boxpadd_norm_h;
  }
}

/*td*/.c-TimeBlock__Times {
  @media not all and (min-width: 30em) {
    padding-bottom: 0; // override padding-bottom above
    font-weight: 300; // same as .c-DateBlock__Date
  }
  @media screen and (min-width: 30em) {
    text-align: right; // HACK fallback
    text-align: end;
    padding-right: @g-boxpadd_kilo_h;
  }
}

/*td*/.c-TimeBlock__Desc {
  @media not all and (min-width: 30em) {
    // same as .c-DateBlock__Desc
    .h-FontSize;
    --font-scale: @g-font-size-kilo;
    font-weight: 600;
  }
  @media screen and (min-width: 30em) {
    padding-left: @g-boxpadd_kilo_h;
  }
}

.c-TimeBlock__Link {
  text-decoration: underline;
}

// Timeline Visualization
@supports (display: var(--variable)) {
  .c-TimeBlock__Times,
  .c-TimeBlock__Desc {
    position: relative; // for psuedo-elements in viz
    &::before {
    content: '';
    display: block;
    position: absolute;
    box-shadow: 0 0 0 1em currentColor inset, 0 0 1em 0 currentColor;
    color: var(--color-primary, @g-color-primary);
    }
  }
  .c-TimeBlock__Times::before {
    // This is the disc on the viz
    @_width: calc(~'var(--lh) / var(--line-height)'); // module em (like root em if the module were the root)
    @_side : calc(~'-0.5 * var(--lh) / var(--line-height)');
    @_top  : calc(~'-0.5 * var(--lh) / var(--line-height) + 0.5 * var(--lh)');
    left: @_side;
    top: @_top;
    width: @_width;
    height: @_width;
    border-radius: 100%;
    @media (min-width: 30em) {
      left: auto;
      right: @_side;
    }
  }
  .c-TimeBlock__Desc::before {
    // This is the line on the viz
    left: 0;
    top:    calc(~'-0.5 * var(--lh)');
    bottom: calc(~'-0.5 * var(--lh)');
    border-left: 1px solid;
    .c-TimeBlock__Item:last-of-type & { content: none; } // omit on last item
    @media (min-width: 30em) {
      top: calc(~'0.5 * var(--lh)');
    }
  }
}
