
/*################################*\
    neo  |  _o-Runner.less
\*################################*/


// The Runner Object
//
// The Runner Object is a large, full-width section with padding on all four sides.
// It can be used for headers, footers, heros, highlight blocks, etc.,
// really, anything that looks like a “row” of a page.
// Change the window size and watch what happens to the padding.
// Subclasses of the Runner Object simply vary the padding.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2016-04-25</time></dd>
// </dl></header>
//
// Markup:
// <div class="o-Runner {{ modifier_class }}">
//   <h1>runner heading</h1>
//   <p>runner content</p>
// </div>
//
// .o-Runner--pageHeader - Headers of pages,
// whether they be generic pages or special pages with hero banner headers.
// .o-Runner--highlight  - Highlighted content, like a callout.
//
// Weight: 1
//
// Styleguide Objects.Runner
.o-Runner {
  --runner-padding: var(--runner-sml-padding);
  padding: var(--runner-padding);
}

.o-Runner--pageHeader {
  --runner-padding: var(--runner-med-padding);
}

.o-Runner--highlight {
  --runner-padding: var(--runner-lrg-padding);
}
