
//- ///////////////////////////////////////////////////////////////////////////////
//- //
//- // This file holds 'global' data for all files in this project,
//- // including the pattern library and the sample sites.
//- //
//- ///////////////////////////////////////////////////////////////////////////////


//- mixin promotedLocation(promoloc)
  - promoloc = promoloc || {} // NOTE parameter validation
  if promoloc.title && promoloc.text
    abbr(title=promoloc.title)= promoloc.text
  else
    = (promoloc.text || promoloc)

mixin callout()
  aside.o-Runner.o-Runner--highlight&attributes(attributes)
    div.h-Constrain
      block
