h1#conference-co-chairs Conference Co-Chairs
div._text-block
  -
    let cochairs = [
      [
        site.currentConference().getOrganizer('thomas-mccollough').view.affiliation(),
        site.currentConference().getOrganizer('stephen-dickenson').view.entireName(),
      ],
      {
        attributes: {
          value: {
            itemprop : 'organizer',
            itemscope: '',
            itemtype : 'http://schema.org/Person',
          }
        }
      }
    ]
  != Element.data(...cochairs)
