h1#conference-co-chairs Conference Co-Chairs
div._text-block
  -
    let cochairs = ElemName('ul').append(...[
      site.currentConference.getOrganizer('thomas-mccollough').view.affiliation(),
      site.currentConference.getOrganizer('stephen-dickenson').view.entireName(),
    ].map((d) =>
      ElemName('li').attr({
        itemprop : 'organizer',
        itemscope: '',
        itemtype : 'http://schema.org/Person',
      }).innerHTML(d))
    )
  != cochairs.outerHTML()
