h1#conference-co-chairs Conference Co-Chairs
div._text-block
  ul
    li(itemprop="organizer" itemscope="" itemtype="http://schema.org/Person")
      != site.currentConference().getOrganizer('thomas-mccollough').view(Person.Display.AFFILIATION)
    li(itemprop="organizer" itemscope="" itemtype="http://schema.org/Person")
      != site.currentConference().getOrganizer('stephen-dickenson').view(Person.Display.ENTIRE_NAME)
