extends ../../../default/_includes/callouts/_location.pug

block promoLocationBlurb
  p._text-plain.-ta-c.
    With sweeping views of the surrounding mountains and a bustling
    downtown full of shopping, locally sourced dining, and entertainment,
    Portland is a wonderful destination for business and leisure.
