h1#volunteer Volunteer
div._text-block
  p.-ta-c We will need volunteers to act as greeters, direct people to various venues within the hotel, collect tickets, travel with tour buses, provide head counts, and serve as a point of contact with ASCE staff.
-
  let highlight_buttons = [
    new Element('a').attr('href','#0').addContent(`Sign Up`)
  ]
!= Util.VIEW.highlightButtons(highlight_buttons)
