div.o-Runner.o-Runner--highlight._text-section: div.h-Constrain
  h2 a heading
  p #[a(href="") Lorem ipsum dolor sit amet], consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
  h3 another heading
  blockquote #[a(href="") Aenean euismod bibendum laoreet]. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
  ul
    li 3&frac12; days of premier educational and networking events
    li 15 tracks and 6 plenary sessions focusing on ...
    li Prestigious awards and keynote lecture presentations
    li Lively programs for studdnts and young professionals
  h2 a heading
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
  h3 another heading
  blockquote Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
  div(style="opacity:0.3;")
    h2 Registration Information
    p: mark: strong.
      #[strong Important:] Please do not use
      ALL CAPS FOR HEADINGS.
      They sound like loud, ruthless shouting, and are
      Not as Readable as Headings in Title Case.
    h3 RECEIVE MEMBER RATES
    p Not a member of ASCE? Join today and save on your ASCE 2015 Convention registration. Simply visit www.asce.org/join or call 800-548-ASCE (2723) to request an application and/or register for the convention. Benefits of becoming a member. Note: You must be a member in good standing to qualify for the member rates.
    h3 EARLY BIRD REGISTRATION DISCOUNT (EB)
    p Don’t miss out! Register early and receive the best savings. The deadline for Early Bird registration is August 12, 2015. Registration online or forms, must include complete payment and be received by this date to qualify for the Early Bird registration discount.
    h3 ADVANCE REGISTRATION DISCOUNT (ADV)
    p ASCE invites registrants to take advantage of an advance registration discount. The deadline for advance registration is September 16, 2015. Registration online or by forms, must include complete payment information, and must be received by this date to qualify for the advance registration discount.
    h3 ON-SITE REGISTRATION (ONS)
    p Please do not mail registration forms through the U.S. Postal Service after September 9, 2015 in order to ensure your registration is processed by the September 16, 2015 deadline. After this date, registrations must be secured with a credit card. If you are paying by credit card, please register online or download the PDF registration form and submit it onsite along with your full credit card payment.
    h4 ON-SITE REGISTRATION HOURS
    p: small (Subject to change)
    ul
      li Sunday, October 11 | 11:00am&ndash;7:00pm
      li Monday, October 12 | 7:00am&ndash;4:30pm
      li Tuesday, October 13 | 7:30am&ndash;4:30pm
      li Wednesday, October 14 | 7:00am&ndash;2:00pm
    h2 Registration Details
    h3 CONFIRMATION OF REGISTRATION
    p Confirmation will be emailed to all Early Bird and Advance registrants within one week of registering for the convention. Online registrants should receive immediate notification following submission of the registration information. Preregistered attendees will receive their name badges and any tickets ordered at the on-site ASCE Registration Desk during Registration hours.
    p If you do not receive confirmation within one week, please contact ASCE registration at 800-548-2723 and ask to speak with Customer Service, or email registrations@asce.org. Please reference ASCE 2015 Convention in the subject line.
    h3 RECORDING OF SESSIONS
    p Video or audio recording of any educational session is strictly prohibited without prior written permission from both ASCE and the session presenter(s).
    h3 RELEASE/WAIVER/SPECIAL ASSISTANCE
    p Photograph Release: By submitting the Registration form, I hereby release any photographs that may be incidentally taken of me during these events by ASCE to be used for any purpose.
    p #[strong Liability Waiver:] I agree and acknowledge that I am undertaking participation in ASCE events and activities at my own free and intentional act, and I am fully aware that possible physical injury might occur to me as a result of my participation. I give this acknowledgement freely and knowingly that I am, as a result, able to participate in ASCE events, and I do hereby assume responsibility for my own well being. I also agree not to allow any other individual to participate in my place.
    h3 ADA COMPLIANCE
    p The New York Marriott Marquis is fully accessible to the disabled. If you require special assistance at the convention, please submit a written description of your requirements with your registration form or email registrations@asce.org before Thursday, September 24. While ASCE will make every effort to meet the needs of the disabled, accommodations cannot be guaranteed without prior notification.
    h3 PAYMENT INFORMATION
    p Acceptable forms of payment include:
    ul
      li #[strong Check:] payable to ASCE 2015 Convention (In U.S. dollars, drawn on a U.S. bank - you must include attendee’s name in the memo area of the check)
      li #[strong Credit card:] VISA, MasterCard, American Express, Diners Club, and Discover
      li #[strong Purchase order:] P.O. #, company name & address or other billing address (This includes Government P.O. use) – a copy of this P.O. must be submitted to Customer Service when you register
      li #[strong Mail registrations to:] ASCE 2015 Convention, P.O. Box 79668, Baltimore, MD 21279-0668. OR you may register online. Full payment MUST accompany all registration forms. Forms will not be processed without payment or copy of purchase order.
    h3 CANCELLATIONS/REFUNDS
    p Cancellations must be received by ASCE in writing. A refund will be issued, minus a $65 processing fee, if the cancellation notice is received by ASCE by September 16, 2015. No refunds will be made for cancellations received after September 16, 2015. Send cancellations to  registrations@asce.org or fax to 703-295-6144.
    h4 PROGRAM AND SESSION CANCELLATION
    p ASCE reserves the right to cancel programs and/or sessions because of low registration. In the unlikely event of a cancellation, all registrants will be notified and will receive a full refund, if applicable. Programs and Sessions are subject to change, and ASCE reserves the right to substitute a program, session, and/or speaker of equal caliber to fulfill the educational requirements.
  div(style="opacity:0.3;")
    h2 Hotel Information
    p.
      The reservation deadline for the hotel is
      #[time.c-Date(datetime="2016-01-14") Thursday, January 14, 2016] however rooms are
      selling out, so make sure you read this very long paragraph which probably
      no one will read because studies show that users of the web merely skim through
      the page to find the information most relavent to them in the fastest
      way possible.
    p(itemscope="" itemtype="http://schema.org/Place")
      span(itemprop="name") Sheraton Phoenix Downtown Hotel
      br
      span(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress")
        span(itemprop="streetAddress") 340 North 3rd Street
        br
        span(itemprop="addressLocality") Phoenix,#{' '}
        abbr(itemprop="addressRegion" title="Arizona") AZ#{' '}
        span(itemprop="postalCode") 85004
      br
      a(href="" itemprop="url") https://sheraton.com/phoenix/
    h2 Transportation
    h3 Airport
    p(itemscope="" itemtype="http://schema.org/Place")
      span(itemprop="name") Phoenix Sky Harbor International Airport (PHX)
      br
      a(href="" itemprop="url") https://sheraton.com/phoenix/
      br
      a(href="" itemprop="telephone") 602-273-3300
    p.
      PHX is located #[del approximately]#[ins about] 6 miles from the Sheraton Phoenix Downtown Hotel
      and Phoenix Convention Center and no one will actually read this paragraph
      because they will probably just Google map it themselves.
    h3 Shuttle
    p.
      SuperShuttle Servidce costs approximately (again with the long words)
      $26 for a round-trip ride from the airport to the hotel then back to the airport,
      which is overly redundant for a web page.
    h2 Taxi Service
    p About $25 one-way from airport to hotel. See, that wasn&rsquo;t so bad, was it?
