extends ../default/about.pug

block append vars
  - var prev_blurb = 'Access the 2015 program to see which sessions qualify for PDHs and other documentation.'
  - var next_blurb = 'Plan ahead to attend, sponsor, or exhibit at the annual convention for civil engineering professionals.'

block mainMinimal
  include _includes/_text-block.pug

block mainRich
  include _includes/_text-section.pug
