extends ../default/registration.pug

block mainMinimal
  include _includes/_text-block.pug

block mainRich
  include _includes/_text-section.pug

block callouts
  +callout()
    h1 Additional Events and Pricing
    -
      let buttons = [
        { "@type": "WebPageElement", "text": "Short Courses"  , "url": "#0" },
        { "@type": "WebPageElement", "text": "Technical Tours", "url": "#0" },
        { "@type": "WebPageElement", "text": "Optional Tours" , "url": "#0" },
      ]
    != Util.view_highlightButtons(buttons, 'c-Button--dark')
  +callout().c-Banner
    include _includes/callouts/_volunteer.pug
