extends ../default/registration.pug

block mainMinimal
  include _includes/_text-block.pug

block mainRich
  include _includes/_text-section.pug

block callouts
  +callout()
    h1 Additional Events and Pricing
    -
      let buttons = [
        new HTMLElement('a').attr('href','#0').addContent(`Short Courses`),
        new HTMLElement('a').attr('href','#0').addContent(`Technical Tours`),
        new HTMLElement('a').attr('href','#0').addContent(`Optional Tours`),
      ]
    != Util.view(buttons).highlightButtons('c-Button--dark')
  +callout().c-Banner
    include _includes/callouts/_volunteer.pug
