extends ../default/speakers.pug

block mainMinimal
  include _includes/_text-block.pug

block mainRich
  include _includes/_text-section.pug

block callouts
  +highlight().c-Banner
    include ../default/_includes/highlights/_social.pug
