mixin sitemap(pages)
  //- WHERE +sitemap() is used:
  //- - _sites.tpl.jade
  //- - _comp.sitemap-component.pug
  +sitetoc({
    pages: pages,
    depth: Infinity,
    icons: false,
    classes: {
      listclasses: 'o-Flex c-Sitemap',
      itemclasses: 'o-Flex__Item c-Sitemap__Item',
      sub: {
        listclasses: 'c-Sitemap__Sub',
        itemclasses: 'c-Sitemap__Sub__Item',
      },
    },
  })
