mixin siteTitle($confSite)
  a.c-SiteTitle.c-LinkCamo.h-Block(href=$confSite.url())
    img.c-SiteTitle__Logo(src=$confSite.logo() alt="Home")
    h1.c-SiteTitle__Name= $confSite.name()
    p.c-SiteTitle__Slogan= $confSite.slogan
