mixin siteTitle($confSite)
  a.o-GridFloat.c-SiteTitle.c-LinkCamo.h-Block(href=$confSite.url())
    span.o-GridFloat__Item.c-SiteTitle__Logo(style=`background-image:url('${$confSite.logo()}');`)
    h1.o-GridFloat__Item.c-SiteTitle__Name= $confSite.name()
    p.o-GridFloat__Item.c-SiteTitle__Tagline= $confSite.tagline()
