mixin dateBlock(dates)
  dl.o-List.c-DateBlock
    each $importantDate in dates
      li.o-List__Item.c-DateBlock__Item(itemprop="potentialAction" itemscope="" itemtype="http://schema.org/Action")
        dt.c-DateBlock__Date
          - var date = $importantDate.startTime
          time(datetime=date itemprop="startTime")
            = Util.monthDay(date) + ', ' + date.getFullYear()
        dd.c-DateBlock__Desc(itemprop="name")
          if $importantDate.url()
            a.c-DateBlock__Link(href=$importantDate.url() itemprop="url")= $importantDate.name
          else
            = $importantDate.name
