mixin passList($conference, starred)
  ul.o-List.o-ListStacked
    each $pass in $conference.getPassesAll().filter(function ($p) { return (starred) ? $p.isStarred() : true })
      li.o-List__Item.o-ListStacked__Item
        +pass($pass, $conference)

mixin pass($pass, $conference)
  - var current_period = $conference.currentRegistrationPeriod()
  article.c-Pass
    mixin periodDetails($registrationPeriod, is_body)
      h1.c-Pass__Period__Hn= $registrationPeriod.name()
      dl
        each $attendeeType in $pass.getAttendeeTypesAll()
          - var price = 0;
          dt.c-Pass__Attendee= $attendeeType.name()
          dd.c-Pass__Price(class={'c-Pass__Price--featured': is_body && $attendeeType.isFeatured()})
            = price.toLocaleString('en', { style: 'currency', currency: 'USD' })
    header.c-Pass__Head
      h1.c-Pass__Hn= $pass.name()
      p.c-Pass__Desc
        = $pass.description()
        if $pass.fineprint()
          small.c-Pass__Fine.h-Block._text-plain= $pass.fineprint()
    if current_period
      div.c-Pass__Body
        section.c-Pass__Period
          +periodDetails(current_period, true)
    footer.o-Flex.c-Pass__Foot
      each $registrationPeriod in $conference.getRegistrationPeriodsAll()
        unless $registrationPeriod === current_period
          section.o-Flex__Item.c-Pass__Period
            +periodDetails($registrationPeriod, false)
