mixin place($place)
    //- REVIEW indentation
    if $place.name()
      span.-fw-700(itemprop="name")= $place.name()
    if $place.streetAddress()
      br
      span(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress")
        span(itemprop="streetAddress")= $place.streetAddress()
        br
        span(itemprop="addressLocality")= $place.addressLocality()
        = ', '
        span(itemprop="addressRegion")= $place.addressRegion()
        = ' '
        span(itemprop="postalCode")= $place.postalCode()
        if $place.address_country
          span(itemprop="addressCountry")= $place.addressCountry()
    if $place.telephone()
      br
      a(href=`tel:${$place.telephone()}` itemprop="telephone")= $place.telephone()
    if $place.url()
      br
      a(href=$place.url() itemprop="url")= $place.url()
