mixin timeBlock(sessions)
  dl.o-List.c-TimeBlock
    each $session,index in sessions
      li.o-List__Item.o-Flex.c-TimeBlock__Item(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
        dt.o-Flex__Item.c-TimeBlock__Times
          -
            var start = $session.startDate
            var end   = $session.endDate
          time(datetime=start itemprop="startDate")= Util.Date.format(start, 'g:ia')
          | &ndash;
          time(datetime=end itemprop="endDate")= Util.Date.format(end, 'g:ia')
        dd.o-Flex__Item.c-TimeBlock__Desc(class={'c-TimeBlock__Desc--last': index===sessions.length-1} itemprop="name")
          if $session.url()
            a.c-TimeBlock__Link(href=$session.url() itemprop="url")= $session.name
          else
            = $session.name
