mixin supporterBlock($supporterLevel, $conference)
  section.c-SupporterBlock(class=`c-SupporterBlock--${$supporterLevel.size()}`)&attributes(attributes)
    h1.c-SupporterBlock__Hn= $supporterLevel.name()
    ul.o-List.o-Flex.c-SupporterBlock__List
      each $supporter in $conference.getSupportersAll().filter(function ($supporter) { return $supporter.level() === $supporterLevel.name() })
        li.o-List__Item.o-Flex__Item.c-SupporterBlock__List__Item(itemprop="sponsor" itemscope="" itemtype="https://schema.org/Organization")
          a(href=$supporter.url() rel="external nofollow" itemprop="url")
            img.c-SupporterBlock__Logo(src=$supporter.img() alt=$supporter.name() itemprop="logo")
            meta(content=$supporter.name() itemprop="name")
