mixin supporterBlock($supporterLevel, $confSite, classes)
  section.c-SupporterBlock(class=classes)
    h1.c-SupporterBlock__Hn= $supporterLevel.name()
    ul.o-List.o-ListStacked
      each $supporter in $confSite.getSupportersAll().filter(function ($supporter) { return $supporter.level() === $supporterLevel.name() })
        li.o-List__Item.o-ListStacked__Item(itemprop="sponsor" itemscope="" itemtype="http://schema.org/Organization")
          a.c-SupporterBlock__Logo.h-Block(class=`c-SupporterBlock__Logo--${$supporterLevel.size()}` href=$supporter.url() rel="external nofollow" itemprop="url")
            img.c-SupporterBlock__Logo__Img(src=$supporter.img() alt=$supporter.name() itemprop="logo")
            meta.c-SupporterBlock__Logo__Name(content=$supporter.name() itemprop="name")
