extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('atom.html')

block append main
  p.
    This style guide imports styles from the Xmeter stylesheet.
    See the
    #[a(href="https://cdn.rawgit.com/chharvey/xmeter/master/docs/atom.html") Xmeter style guide]
    for more information.

//- block append main
  p.
    This stylesheet imports a library called
    #[cite Bangs!], which is a set of atoms for all properties and values.
    Only the most common classes are listed below, however feel free to check out
    #[a(href="https://github.com/chharvey/bangs/blob/gh-pages/PROPERTIES.md") the comprehensive list.]
  section#-fl
    h2 Floats
    p.
      Use floats to float content to the left or to the right in surrounding prose.
      Please do not use these classes to create entire page layouts.
    figure.docs-figure
      div.-fl-l: u floating left
      div.-fl-r: u floating right
      div.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam sagittis suscipit nunc, a cursus libero euismod at.
        Nulla placerat neque massa, quis interdum leo efficitur vel.
        Donec feugiat varius arcu non volutpat.
        Mauris eget mauris ut mauris auctor mattis id vel justo.
        Nulla dictum arcu nec suscipit mollis.
        Maecenas a iaculis nisl, ut pretium est. Nulla facilisi.
      pre.
        &lt;div class="#[u -fl-l]"&gt;floating left&lt;/div&gt;
        &lt;div class="#[u -fl-r]"&gt;floating right&lt;/div&gt;
        &lt;div&gt;Lorem ipsum dolor ...&lt;/div&gt;
  section#-w
    h2 Widths
    p.
      Use these classes to set the width of block (or inline-block) elements.
      These can be very useful for items in a grid object.
    p.
      Percentage widths are fluid, best for responding to screen size.
      Pixel widths are absolute, best for when you know the exact width.
      Em widths are adjustable, based on the font size of the element
      (e.g. if the element&rsquo;s font size is 16px, then 1em is 16px
      and 5em is 80px).
    figure.docs-figure
      section.-w-1o3
        h3 Percentage Widths
        pre.
          .-w-1o1      100%#[br]
          .-w-1o2       50%
          .-w-2o2      100%#[br]
          .-w-1o3       33.3%
          .-w-2o3       66.7%
          .-w-3o3      100%#[br]
          .-w-1o4       25%
          .-w-2o4       50%
          .-w-3o4       75%
          .-w-4o4      100%#[br]
          .-w-1o5       20%
          .-w-2o5       40%
          .-w-3o5       60%
          .-w-4o5       80%
          .-w-5o5      100%#[br]
          .-w-1o6       16.7%
          .-w-2o6       33.3%
          .-w-3o6       50%
          .-w-4o6       66.7%
          .-w-5o6       83.3%
          .-w-6o6      100%#[br]
          .-w-1o8       12.5%
          .-w-2o8       25%
          .-w-3o8       37.5%
          .-w-4o8       50%
          .-w-5o8       62.5%
          .-w-6o8       75%
          .-w-7o8       87.5%
          .-w-8o8      100%#[br]
          .-w-1o10      10%
          .-w-2o10      20%
          .-w-3o10      30%
          .-w-4o10      40%
          .-w-5o10      50%
          .-w-6o10      60%
          .-w-7o10      70%
          .-w-8o10      80%
          .-w-9o10      90%
          .-w-10o10    100%
        //- footer: p 39 classes, 20 unique classes
      section.-w-1o3
        h3 Pixel Widths
        pre.
          .-w-96px        96px
          .-w-192px      192px
          .-w-288px      288px
          .-w-384px      384px
          .-w-480px      480px
          .-w-576px      576px
          .-w-672px      672px
          .-w-768px      768px
          .-w-864px      864px
          .-w-960px      960px
          .-w-1056px    1056px
          .-w-1152px    1152px
          .-w-1248px    1248px
          .-w-1344px    1344px
          .-w-1440px    1440px
        //- footer: p 15 unique classes
      section.-w-1o3
        h3 Em Widths
        pre.
          .-w-5em      5em
          .-w-10em    10em
          .-w-15em    15em
          .-w-20em    20em
          .-w-25em    25em
          .-w-30em    30em
          .-w-35em    35em
          .-w-40em    40em
          .-w-45em    45em
          .-w-50em    50em
          .-w-55em    55em
          .-w-60em    60em
          .-w-65em    65em
          .-w-70em    70em
          .-w-75em    75em
          .-w-80em    80em
          .-w-85em    85em
          .-w-90em    90em
        //- footer: p 18 unique classes
      pre.
        &lt;div class=""&gt;
          &lt;section class="#[u -w-1o3]"&gt;...&lt;/section&gt;
          &lt;section class="#[u -w-1o3]"&gt;...&lt;/section&gt;
          &lt;section class="#[u -w-1o3]"&gt;...&lt;/section&gt;
        &lt;/div&gt;
    p.
      You may add a breakpoint suffix, for using these classes only in certain
      media breakpoints. For example, to set the width of an element to 50%,
      but only for the medium screen breakpoint (larger than 45em), use class
      #[code .-w-1o2-sM].
      The suffix #[code -sM] stands for medium screen.
      The following table displays breakpoint suffixes and their meanings.
    pre.
      ‹no suffix›    all media queries (screen, print, etc.)
      -s             screen only, all sizes
      -sK               small screens and up (greater than 30em/ 480px)
      -sM              medium screens and up (greater than 45em/ 720px)
      -sG               large screens and up (greater than 60em/ 960px)
      -sT             x-large screens and up (greater than 75em/1200px)
      -sP            xx-large screens and up (greater than 90em/1440px)
      -p             print only
      -h             on hover and on focus only
