extends _docs.tpl.pug

block append vars
  - var page = Docs.DOCS.find('/docs/comp.html')

block append main
  +newSection(2, Docs.DOCS.find('/docs/comp.html#mobile-menu'))
    include _includes/_comp.mobile-menu.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#menu-bar'))
    include _includes/_comp.menu-bar.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#pass-component'))
    include _includes/_comp.pass-component.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#program-heading'))
    include _includes/_comp.program-heading.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#time-block'))
    include _includes/_comp.time-block.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#speaker-component'))
    include _includes/_comp.speaker-component.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#supporter-block'))
    include _includes/_comp.supporter-block.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#social-list'))
    include _includes/_comp.social-list.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#date-block'))
    include _includes/_comp.date-block.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#callout-component'))
    include _includes/_comp.callout-component.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#buttons'))
    include _includes/_comp.buttons.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#camo-link'))
    include _includes/_comp.camo-link.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#caps-link'))
    include _includes/_comp.caps-link.pug
  +newSection(2, Docs.DOCS.find('/docs/comp.html#toggle-button'))
    include _includes/_comp.toggle-button.pug
