extends _docs.tpl.pug

block append vars
  - var page = Docs.DOCS.find('/docs/help.html')

block append main
  p.
    This style guide imports styles from the Xmeter stylesheet.
    See the
    #[a(href="https://cdn.rawgit.com/chharvey/xmeter/master/docs/help.html") Xmeter style guide]
    for more information.
  +newSection(2, Docs.DOCS.find('/docs/help.html#glyphicons'))
    include _includes/_help.glyphicons.pug
