extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('help.html')

block append main
  p.
    This style guide imports styles from the Xmeter stylesheet.
    See the
    #[a(href="https://cdn.rawgit.com/chharvey/xmeter/master/docs/help.html") Xmeter style guide]
    for more information.
