extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('index.html')

block toc

block append main
  p.
    This pattern library contains demos of components
    that live on conference website pages. These components are shown out of context,
    free from distraction, so you can quickly choose the best one to fit your
    design needs. Each demo also has accompanying example code to show its proper use.
  p.
    #[strong Note:] On these pages, component demos and example code will be
    placed in #[code &lt;figure&gt;] elements to separate them from the surrounding documentation.
  each item in ConfDocs.DOCS.findAll().slice(1)
    section
      h3: a(href=item.url())= item.name()
      p= item.description()
      +doctoc({pages: item.findAll(), depth: 0})
