extends _docs.tpl.pug

block append vars
  - var page = Docs.DOCS.find('/docs/org.html')

block append main
  +newSection(2, Docs.DOCS.find('/docs/org.html#page-header'))
    include _includes/_org.page-header.pug
  +newSection(2, Docs.DOCS.find('/docs/org.html#highlighted-content-block'))
    include _includes/_org.highlighted-content-block.pug
  +newSection(2, Docs.DOCS.find('/docs/org.html#hero-image'))
    include _includes/_org.hero-image.pug
  +newSection(2, Docs.DOCS.find('/docs/org.html#other-year-callout'))
    include _includes/_org.other-year-callout.pug
  +newSection(2, Docs.DOCS.find('/docs/org.html#program-tabs'))
    include _includes/_org.program-tabs.pug
  +newSection(2, Docs.DOCS.find('/docs/org.html#person'))
    include _includes/_org.person.pug
  +newSection(2, Docs.DOCS.find('/docs/org.html#place'))
    include _includes/_org.place.pug

block append scripts
  script(src="/scripts/o-Tabs.js")
  script.
    $('.c-Toggle__Check').change(function () {
      $(this).parents('.c-Toggle').siblings('.o-Drawer').toggleClass('o-Drawer--open')
    })
