
/*################################*\
    neo  |  _c-ProgramHn.less
\*################################*/


body {
  --heading-color-unselected: var(--color-gray_dk);
}
.c-Banner {
  --heading-color-unselected: var(--color-gray_lt);
}

// The Program Heading
//
// A heading for a program <a>Time Block</a>.
// Contains the common date of the sessions in the block,
// of the format <code>Ddddddd, Mmm DD</code> (in PHP format: <code>l, M j</code>).
//
// Note that a variation is displayed after a checked input element.
//
// Use in Pug:
// <pre>
//   include /_views/_Date.view.pug
//   +programHn(new Date('2017-10-08'))
// </pre>
//
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-02-19</time></dd>
// </dl></header>
//
// Markup:
// <div class="{{ modifier_class }}">
//   <input type="checkbox"/>
//   <time class="c-ProgramHn h-Block" datetime="2017-10-08">Sunday,<br/>Oct 8</time>
// </div>
//
// .c-Banner - Program Headings inside a <a>Banner</a> have different colors.
//
// Weight: 10
//
// Styleguide Components.Program
.c-ProgramHn {
  // some styles from h1
  margin-bottom: @g-vru; // HACK fallback
  margin-bottom: var(--vru);
  font-weight: 900;
  color: @g-color-gray_dk; // HACK fallback
  color: var(--heading-color-unselected, @g-color-gray_dk);
  .c-Banner & {
    color: @g-color-gray_lt; // HACK fallback
    color: var(--heading-color-unselected, @g-color-gray_lt); // HACK override
  }
  @media screen and (min-width: 45em) {
    .font-size-el(1.25);
  }
  // selected look
  input:checked + & {
    color: @g-color-primary; // HACK fallback
    color: var(--color-primary, @g-color-primary);
  }
}
