
/*################################*\
    neo  |  _c-SiteTitle.less
\*################################*/


// The Site Title
//
// The Site Title sets up the visual structure containing the site logo, title, and slogan.
//
// Use with Pug:
// <pre>
//   include /_views/_ConfSite.view.pug
//   +siteTitle(new ConfSite('CI Summit', '#0', 'Innovations In Construction')
//     .logo('http://cisummit.org/sites/cisummit.org/files/ci-shield-logo.png'))
// </pre>
//
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2016-06-29</time></dd>
// </dl></header>
//
// Markup:
// <a class="o-GridFloat c-SiteTitle c-LinkCamo h-Block" href="#0">
//   <span class="o-GridFloat__Item c-SiteTitle__Logo"
//     style="background-image:url('http://cisummit.org/sites/cisummit.org/files/ci-shield-logo.png');"></span>
//     <!-- TODO: make this span an <img>! -->
//   <h1 class="o-GridFloat__Item c-SiteTitle__Name">CI Summit</h1>
//   <p class="o-GridFloat__Item c-SiteTitle__Slogan">Innovations In Construction</p>
// </a>
//
// Weight: 2
//
// Styleguide Components.SiteTitle


// variable sizes for site logo
// HACK fallbacks for css vars
@p-logosize-s: 0;
@p-logosize-sK: 21px*3; // REVIEW 21px is taken from the `.c-Mast` line height
@p-logosize-sM: 21px*5; // REVIEW 21px is taken from the `.c-Mast` line height

.c-SiteTitle {
  white-space: nowrap;
  --logosize: 0;
  @media screen                       { --logosize: 0; }
  @media screen and (min-width: 30em) { --logosize: (21px*3); } // REVIEW 21px is taken from the `.c-Mast` line height
  @media screen and (min-width: 45em) { --logosize: (21px*5); } // REVIEW 21px is taken from the `.c-Mast` line height
}

.c-SiteTitle__Logo,
.c-SiteTitle__Name,
.c-SiteTitle__Tagline {
  .transitions(width, height; 250ms);
  color: inherit; // everything inside the link looks like part of the same link
}
.c-SiteTitle__Logo {
  // HACK fallbacks
  width: @p-logosize-s; height: @p-logosize-s;
  @media screen and (min-width: 30em) { width: @p-logosize-sK; height: @p-logosize-sK; }
  @media screen and (min-width: 45em) { width: @p-logosize-sM; height: @p-logosize-sM; }
  width: var(--logosize); height: var(--logosize);
  .logo();
}
.c-SiteTitle__Name,
.c-SiteTitle__Slogan {
  padding-left: 0.5rem;
  // @media screen and (max-width: 29.999em) {
  //   width: 100%; // NOTE not necessary (default)
  // }
  // HACK fallbacks
  @media screen and (min-width: 30em) { width: calc(~'100% - '@p-logosize-sK); }
  @media screen and (min-width: 45em) { width: calc(~'100% - '@p-logosize-sM); }
  @media screen and (min-width: 30em) {
    width: calc(~'100% - var(--logosize)');
  }
}
.c-SiteTitle__Name {
  .font-size-el(2);
  text-align: inherit; // override h1 center
}
.c-SiteTitle__Slogan {
  font-weight: 300;
  @media screen and (max-width: 44.999em) {
    display: none;
  }
}
