
/*################################*\
    conf  |  _c-Toggle.less
\*################################*/
@import (reference) url('../node_modules/xmeter/styles/__fallback.transform.less');
@import (reference) url('../node_modules/xmeter/styles/__fallback.transform-origin.less');
@import (reference) url('../node_modules/xmeter/styles/__fallback.transition.less');
@import (reference) url('__settings.less');


@p-trans_dura: 500ms;


// Toggle button with "menu" icon in inactive state and "close" icon in active state.
//
// ^subcomponents
// __Check - checkbox for toggle button
// __Viz   - graphic visualization
// ^author
// Chris Harvey
// ^updated
// 2016-07-03
.c-Toggle {
  @media screen and (min-width: 45em) {
    display: none;
  }
  noscript a {
    position: absolute;
    top: ((75px - 48px)/2); // half height of the mast head // FIXME
    right: 0.5rem;
    line-height: @g-line_height; // HACK fallback
    line-height: var(--line-height); // override `label`
  }
}

.c-Toggle__Check {
  // using `.h-Hidden`
  &:focus {
    position: absolute; // override h-Hidden:focus
  }
}


// Vizualization for the toggle menu
//
// ^subcomponents
// __Bar - rectangle comprising the icons
// ^author
// Chris Harvey
// ^updated
// 2016-07-03
.c-Toggle__Viz {
  position: absolute;
  top: ((75px - 48px)/2); // half height of the mast head // FIXME
  right: 0;
  z-index: 3; // over `.o-Drawer`
  margin: @g-boxpadd_mill;
  border-radius: 0.25rem;
  .c-Toggle__Check:checked ~ & {
    position: fixed;
  }
}

.c-Toggle__Viz__Bar {
  fill: @g-color-gray_lt-tint2; // HACK fallback
  fill: var(--color-gray_lt-tint2);
  .transform-origin(center);
  .transitions(@g-prefix_transform, fill; @p-trans_dura);
  &:nth-child(1) {}
  &:nth-child(2) { .transform(translate(0,-5px)); }
  &:nth-child(3) { .transform(translate(0,5px)); }
  .c-Toggle__Check:checked ~ .c-Toggle__Viz & {
    &:nth-child(1) {
      .transform(scale((24/18),12));
      fill: @g-color-gray_dk; // HACK fallback
      fill: var(--color-gray_dk);
    }
    &:nth-child(2),
    &:nth-child(3) { .transition-delay(0.5*@p-trans_dura); }
    &:nth-child(2) { .transform(rotate(45deg)); }
    &:nth-child(3) { .transform(rotate(-45deg)); }
  }
}
