
/*################################*\
    neo  |  _o-Drawer.less
\*################################*/


// The Drawer Object
//
// The Drawer Object displays normally on Medium screens and larger,
// but collapses to a pull-out menu on small screens.
// It has the ability to slide out from the side on mobile devices,
// most commonly containing the mobile menu.
//
// The Drawer Object will be fixed off-screen when screen is smaller than 720px.
// Javascript must be enabled to show it on command.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2016-10-13</time></dd>
// </dl></header>
//
// Markup:
// <div class="o-Drawer {{ modifier_class }}">
//   <h1>drawer heading</h1>
//   <p>drawer content</p>
// </div>
//
// Weight: 7
//
// .o-Drawer--open - for when drawer is activated/shown
//
// Styleguide Objects.Drawer


@p-trans_dura: 250ms;

.o-Drawer {
  .transitions(transform, opacity; @p-trans_dura);
  // animation for *closing* drawer
  transition-timing-function: @google-accel;
  // transition-timing-function: @g-accel_hard;
  // transition-timing-function: @g-accel_dram;
  // transition-timing-function: @g-decel_extm;
  @media not all and (min-width: 45em) {
    @width: 12rem;
    position: fixed;
    top: 0; bottom: 0;
    right: -@width;
    z-index: 2; // over hero and "jump to top" button
    width: @width;
    // height: 100%; // fallback for vh
    // height: 100vh; // don’t need this if bottom:0
    border-left: 1px solid currentColor;
    opacity: 0;
  }
}
.o-Drawer--open {
  @media not all and (min-width: 45em) {
    transform: translateX(-100%);
    opacity: 1;
    // animation for *opening* drawer
    transition-timing-function: @google-decel;
    // transition-timing-function: @g-decel_hard;
    // transition-timing-function: @g-decel_dram;
    // transition-timing-function: @g-accel_extm;
  }
}
