
/*################################*\
    neo  |  _o-Runner.less
\*################################*/


// The Runner Object
//
// The Runner Object is a large, full-width section with padding on all four sides.
// It can be used for headers, footers, heros, highlight blocks, etc.,
// really, anything that looks like a “row” of a page.
// Change the window size and watch what happens to the padding.
// Subclasses of the Runner Object simply vary the padding.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2016-04-25</time></dd>
// </dl></header>
//
// Markup:
// <div class="o-Runner {{ modifier_class }}">
//   <h1>runner heading</h1>
//   <p>runner content</p>
// </div>
//
// .o-Runner--pageHeader - Headers of pages,
// whether they be generic pages or special pages with hero banner headers.
// .o-Runner--highlight  - Highlighted content, like a callout.
//
// Weight: 1
//
// Styleguide Objects.Runner
.o-Runner {
  --padding   : @g-boxpadd_micr;
  --padding-sK: @g-boxpadd_mill;
  --padding-sM: @g-boxpadd_norm;
  --padding-sG: @g-boxpadd_kilo;
  @media screen {
    padding: @g-boxpadd_micr; // HACK fallback
    padding: var(--padding);
  }
  @media screen and (min-width: 30em) {
    padding: @g-boxpadd_mill; // HACK fallback
    padding: var(--padding-sK);
  }
  @media screen and (min-width: 45em) {
    padding: @g-boxpadd_norm; // HACK fallback
    padding: var(--padding-sM);
  }
  @media screen and (min-width: 60em) {
    padding: @g-boxpadd_kilo; // HACK fallback
    padding: var(--padding-sG);
  }
}

.o-Runner--pageHeader {
  --padding   : @g-boxpadd_norm;
  --padding-sK: @g-boxpadd_norm; // override .o-Runner --padding-sK
  --padding-sM: @g-boxpadd_mega;
  --padding-sG: @g-boxpadd_giga;
  // HACK fallbacks
  @media screen                       { padding: @g-boxpadd_norm; }
  @media screen and (min-width: 30em) { padding: @g-boxpadd_norm; } // needs to override .o-Runner @sK (when minified)
  @media screen and (min-width: 45em) { padding: @g-boxpadd_mega; }
  @media screen and (min-width: 60em) { padding: @g-boxpadd_giga; }
}

.o-Runner--highlight {
  --padding   : @g-boxpadd_norm;
  --padding-sK: @g-boxpadd_kilo;
  --padding-sM: @g-boxpadd_giga;
  --padding-sG: @g-boxpadd_peta;
  // HACK fallbacks
  @media screen                       { padding: @g-boxpadd_norm; }
  @media screen and (min-width: 30em) { padding: @g-boxpadd_kilo; }
  @media screen and (min-width: 45em) { padding: @g-boxpadd_giga; }
  @media screen and (min-width: 60em) { padding: @g-boxpadd_peta; }
}
